<% title_tag t(".New Note") %>

 <div class="container">
  <%= react_component "notes/NewNote", {
    note: @note.as_rc_json(only: %i[id slug title description privacy]),
    user: current_user.as_json(only: %i[id slug name], methods: :to_url),
    action: user_notes_path(current_user),
  } %>
</div>
