/**
Generate tool:

http://fontello.com
*/
@font-face {
  font-family: 'booklab';
  src: url(~booklab/iconfont/booklab.eot);
  src: url(~booklab/iconfont/booklab.eot#iefix) format('embedded-opentype'),
       url(~booklab/iconfont/booklab.woff) format('woff'),
       url(~booklab/iconfont/booklab.ttf) format('truetype'),
       url(~booklab/iconfont/booklab.svg#booklab) format('svg');
  font-weight: normal;
  font-style: normal;
}

.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 0;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.btn-sm .fas {
  font-size: 15px;
}

[data-icon]:before {
  font-family: "booklab" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fa-"]:before,
[class*=" fa-"]:before {
  font-family: "booklab" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.fa-activity-feed:before {
  content: "\61";
}
.fa-activity-history:before {
  content: "\62";
}
.fa-add:before {
  content: "\63";
}
.fa-add-camera:before {
  content: "\64";
}
.fa-add-file:before {
  content: "\65";
}
.fa-add-link:before {
  content: "\66";
}
.fa-add-new:before {
  content: "\67";
}
.fa-add-tag:before {
  content: "\69";
}
.fa-add-user:before {
  content: "\6a";
}
.fa-align-left:before {
  content: "\6b";
}
.fa-align-right:before {
  content: "\6c";
}
.fa-api:before {
  content: "\6d";
}
.fa-approval:before {
  content: "\6e";
}
.fa-archive:before {
  content: "\6f";
}
.fa-attachment:before {
  content: "\70";
}
.fa-audio-file:before {
  content: "\71";
}
.fa-bell:before {
  content: "\72";
}
.fa-binary-file:before {
  content: "\73";
}
.fa-box:before {
  content: "\75";
}
.fa-camera:before {
  content: "\76";
}
.fa-cancel:before {
  content: "\77";
}
.fa-categorize:before {
  content: "\78";
}
.fa-change-user:before {
  content: "\79";
}
.fa-chat:before {
  content: "\7a";
}
.fa-chat-bubble:before {
  content: "\41";
}
.fa-checkbox:before {
  content: "\43";
}
.fa-checked:before {
  content: "\44";
}
.fa-circle:before {
  content: "\45";
}
.fa-clock:before {
  content: "\46";
}
.fa-close-window:before {
  content: "\47";
}
.fa-cloud:before {
  content: "\48";
}
.fa-cloud-storage:before {
  content: "\49";
}
.fa-code-file:before {
  content: "\4a";
}
.fa-comments:before {
  content: "\4b";
}
.fa-copy:before {
  content: "\4c";
}
.fa-copy-link:before {
  content: "\4d";
}
.fa-copyright:before {
  content: "\4e";
}
.fa-create:before {
  content: "\4f";
}
.fa-dashboard:before {
  content: "\50";
}
.fa-delete:before {
  content: "\51";
}
.fa-delete-file:before {
  content: "\52";
}
.fa-delete-link:before {
  content: "\53";
}
.fa-delete-row:before {
  content: "\54";
}
.fa-doc:before {
  content: "\55";
}
.fa-docs:before {
  content: "\56";
}
.fa-downloads:before {
  content: "\57";
}
.fa-edit-file:before {
  content: "\58";
}
.fa-edit-graph-report:before {
  content: "\59";
}
.fa-edit-image:before {
  content: "\5a";
}
.fa-edit-property:before {
  content: "\30";
}
.fa-edit-row:before {
  content: "\31";
}
.fa-ellipsis-h:before {
  content: "\32";
}
.fa-error:before {
  content: "\33";
}
.fa-export:before {
  content: "\34";
}
.fa-external-link:before {
  content: "\35";
}
.fa-eye:before {
  content: "\36";
}
.fa-facebook:before {
  content: "\37";
}
.fa-file:before {
  content: "\38";
}
.fa-filter:before {
  content: "\39";
}
.fa-find-user:before {
  content: "\21";
}
.fa-fullscreen:before {
  content: "\22";
}
.fa-gear:before {
  content: "\23";
}
.fa-gears:before {
  content: "\24";
}
.fa-heart:before {
  content: "\25";
}
.fa-hearts:before {
  content: "\26";
}
.fa-help:before {
  content: "\27";
}
.fa-high-priority:before {
  content: "\28";
}
.fa-idea:before {
  content: "\29";
}
.fa-image-file:before {
  content: "\2a";
}
.fa-indent:before {
  content: "\2b";
}
.fa-info:before {
  content: "\2c";
}
.fa-invisible:before {
  content: "\2d";
}
.fa-left:before {
  content: "\2e";
}
.fa-light-on:before {
  content: "\2f";
}
.fa-link:before {
  content: "\3a";
}
.fa-linking:before {
  content: "\3b";
}
.fa-location:before {
  content: "\3c";
}
.fa-lock:before {
  content: "\3d";
}
.fa-mail:before {
  content: "\3e";
}
.fa-merge-files:before {
  content: "\3f";
}
.fa-minus:before {
  content: "\40";
}
.fa-module:before {
  content: "\5b";
}
.fa-more:before {
  content: "\5d";
}
.fa-name:before {
  content: "\5e";
}
.fa-new:before {
  content: "\5f";
}
.fa-new-doc:before {
  content: "\60";
}
.fa-news:before {
  content: "\7b";
}
.fa-news-feed:before {
  content: "\7c";
}
.fa-note:before {
  content: "\7d";
}
.fa-ok:before {
  content: "\7e";
}
.fa-password:before {
  content: "\5c";
}
.fa-pdf:before {
  content: "\e000";
}
.fa-pencil:before {
  content: "\e001";
}
.fa-pin:before {
  content: "\e002";
}
.fa-play:before {
  content: "\e003";
}
.fa-ppt:before {
  content: "\e005";
}
.fa-privacy:before {
  content: "\e006";
}
.fa-profile:before {
  content: "\e007";
}
.fa-psd:before {
  content: "\e008";
}
.fa-publish:before {
  content: "\e009";
}
.fa-qr-code:before {
  content: "\e00a";
}
.fa-redo:before {
  content: "\e00b";
}
.fa-remove-tag:before {
  content: "\e00c";
}
.fa-report-card:before {
  content: "\e00d";
}
.fa-right:before {
  content: "\e011";
}
.fa-ruby:before {
  content: "\e012";
}
.fa-search:before {
  content: "\e013";
}
.fa-secure-cloud:before {
  content: "\e014";
}
.fa-send-file:before {
  content: "\e015";
}
.fa-server:before {
  content: "\e016";
}
.fa-sheet:before {
  content: "\e017";
}
.fa-signature:before {
  content: "\e018";
}
.fa-smile:before {
  content: "\e019";
}
.fa-smile-love:before {
  content: "\e01a";
}
.fa-sort:before {
  content: "\e01b";
}
.fa-sort-down:before {
  content: "\e01c";
}
.fa-sort-up:before {
  content: "\e01d";
}
.fa-source-code:before {
  content: "\e01e";
}
.fa-sync:before {
  content: "\e020";
}
.fa-tag:before {
  content: "\e021";
}
.fa-tags:before {
  content: "\e022";
}
.fa-template:before {
  content: "\e023";
}
.fa-times:before {
  content: "\e024";
}
.fa-todo:before {
  content: "\e025";
}
.fa-trash:before {
  content: "\e026";
}
.fa-twitter:before {
  content: "\e027";
}
.fa-txt:before {
  content: "\e028";
}
.fa-unchecked:before {
  content: "\e029";
}
.fa-undo:before {
  content: "\e02a";
}
.fa-upload-to-cloud:before {
  content: "\e02b";
}
.fa-user:before {
  content: "\e02c";
}
.fa-users:before {
  content: "\e02d";
}
.fa-verified:before {
  content: "\e02e";
}
.fa-versions:before {
  content: "\e02f";
}
.fa-video-file:before {
  content: "\e030";
}
.fa-web:before {
  content: "\e031";
}
.fa-word:before {
  content: "\e032";
}
.fa-xls:before {
  content: "\e033";
}
.fa-plus:before {
  content: "\e004";
}
.fa-toc:before {
  content: "\e034";
}
.fa-edit-toc:before {
  content: "\e035";
}
.fa-add-smile:before {
  content: "\e036";
}
.fa-mail-reply:before {
  content: "\68";
}
.fa-reply:before {
  content: "\e037";
}
.fa-star:before {
  content: "\e038";
}
.fa-outdent:before {
  content: "\e01f";
}
.fa-check:before {
  content: "\42";
}
.fa-code-fork:before {
  content: "\e039";
}
.fa-ellipsis-v:before {
  content: "\e03a";
}
.fa-exit-wide-mode:before {
  content: "\e06a";
}
.fa-wide-mode:before {
  content: "\e06b";
}
.fa-google:before {
  content: "\e06f";
}
.fa-share:before {
  content: "\e06c";
}
.fa-text-align-center:before {
  content: "\e03b";
}
.fa-text-align-justify:before {
  content: "\e03c";
}
.fa-text-align-left:before {
  content: "\e03d";
}
.fa-text-align-right:before {
  content: "\e03e";
}
.fa-text-attachment:before {
  content: "\e03f";
}
.fa-text-bold:before {
  content: "\e040";
}
.fa-text-bulleted-list:before {
  content: "\e041";
}
.fa-text-code:before {
  content: "\e042";
}
.fa-text-color:before {
  content: "\e043";
}
.fa-text-emoji:before {
  content: "\e044";
}
.fa-text-fill-color:before {
  content: "\e045";
}
.fa-text-font:before {
  content: "\e046";
}
.fa-text-font-size:before {
  content: "\e047";
}
.fa-text-heading:before {
  content: "\e048";
}
.fa-text-hr:before {
  content: "\e049";
}
.fa-text-image:before {
  content: "\e04a";
}
.fa-text-indent:before {
  content: "\e04b";
}
.fa-text-italic:before {
  content: "\e04c";
}
.fa-text-link:before {
  content: "\e04d";
}
.fa-text-mention:before {
  content: "\e04e";
}
.fa-text-numbered-list:before {
  content: "\e04f";
}
.fa-text-outdent:before {
  content: "\e050";
}
.fa-text-quote:before {
  content: "\e051";
}
.fa-text-strikethrough:before {
  content: "\e052";
}
.fa-text-underline:before {
  content: "\e053";
}
.fa-repositories:before {
  content: "\e00e";
}
.fa-repository:before {
  content: "\e00f";
}
.fa-repository-stack:before {
  content: "\e010";
}
.fa-booklab:before {
  content: "\e054";
}