<% title_tag "Docs", @repository.name %>

<%= render "menu" %>

<div class="repository-docs">
  <% if @docs.blank? %>
    <%= render "empty_docs" %>
  <% else %>
    <div class="docs">
      <%= render partial: "doc", collection: @docs %>
    </div>

    <%= paginate @docs %>
  <% end %>
</div>
