/* eslint-disable */
import i18n from "i18next";
const deepAssign = require('deep-assign');

const metaLocale = document.querySelector('meta[name=locale]');
const lang = (metaLocale && metaLocale.content || 'en').replace('-', '_');

<% I18n.backend.eager_load! %>
const RAILS_I18N = <%= I18n.backend.translations.to_json %>;

i18n.init({
  // we init with resources
  resources: {
    en: {
      locales: deepAssign(RAILS_I18N["en"], {
        "There has count issues": 'There has <span class="text-danger">%{count}</span> issues:',
        "Repository": "Repository",
        "Search in scope": "Search in %{scope}",
        "Search BlueDoc": "Search BlueDoc",
        "dialog": {
          "Cancel": "Cancel",
        },
        "editor": {
          "Editor": {
            "New Document": "New Document",
            "Write document contents here": "Write document contents here",
            "Paragraph": "Normal",
            "Heading 2": "Heading 2",
            "Heading 3": "Heading 3",
            "Heading 4": "Heading 4",
            "Heading 5": "Heading 5",
            "Heading 6": "Heading 6",
            "Bold": "Bold ⌘-b",
            "Italic": "Italic ⌘-i",
            "Strike Through": "Strike Through",
            "Underline": "Underline ⌘-u",
            "Inline Code": "Inline Code ⌘-`",
            "Bulleted list": "Bulleted list",
            "Numbered list": "Numbered list",
            "Indent": "Indent ⌘-]",
            "Outdent": "Outdent ⌘-[",
            "Align Left": "Align Left",
            "Align Center": "Align Center",
            "Align Right": "Align Right",
            "Align Justify": "Align Justify",
            "Quote": "Quote",
            "Insert Code block": "Insert Code block",
            "Insert PlantUML": "Insert PlantUML",
            "Insert TeX": "Insert TeX",
            "Insert Horizontal line": "Insert Horizontal line",
            "Insert Link": "Insert Link",
            "Insert Image": "Insert Image",
            "Insert File": "Insert File",
            "Insert Video": "Insert Video",
            "Insert Table": "Insert Table",
            "Undo": "Undo",
            "Redo": "Redo",
            "Clear Format": "Clear Format"
          },
          "Core": {
            // For Editor core
            "Delete": "Delete",
            "Done": "Done",
            "Invalid file": "Invalid file, please upload again.",
            "Invalid image": "Invalid image, please upload again.",
            "Invalid video": "Invalid video, please upload again.",
            "100% size of image": "100% size of image",
            "80% size of image": "80% size of image",
            "50% size of image": "50% size of image",
            "25% size of image": "25% size of image",
            "100% size of video": "100% size of video",
            "80% size of video": "80% size of video",
            "50% size of video": "50% size of video",
            "25% size of video": "25% size of video",
            "Link URL": "URL",
            "Enter the link URL": "Enter the link URL",
            "Unlink": "Unlink",
            "Add column before": "Add column before",
            "Add row before": "Add row before",
            "Add column after": "Add column after",
            "Add row after": "Add row after",
            "Remove column": "Remove column",
            "Remove row": "Remove row",
            "Delete Table": "Delete Table",
            "Title": "Title",
            "PlantUML": {
              "Select a example": "UML examples",
              "More": "More...",
              "Sequence": "Sequence",
              "Use case": "Use case",
              "Class": "Class",
              "Activity": "Activity",
              "Component": "Component",
              "State": "State",
              "Object": "Object",
              "Deployment": "Deployment",
              "Timing": "Timing",
              "Apply": "Apply",
              "Cancel": "Cancel",
              "Done": "Done",
            }
          },
          "DocSetting": {
            "Slug": "Doc path",
            "Done": "Done",
          },
        },
        "notes": {
          "EditorSetting": {
            "Note path": "Note path",
            "Description": "Description",
            "Privacy": "Privacy",
            "Public": "Public",
            "Anyone can see this Note": "Anyone can see this Note.",
            "Private": "Private",
            "Only you can see this Note": "Only you can see this Note.",
            "If you change privacy from Public to Private": "If you change privacy from Public to Private, The we will remove the reletion datas (Star, Activity) of this Note.",
            "Done": "Done",
          },
        },
        "toc": {
          "Table of contents": "Table of contents",
          "Add a custom item": "Add a custom item"
        },
        "issues": {
          "Sidebar": {
            "Participants": "participants",
          },
          "Assignees": {
            "Assignee": "Assignee",
            "No one assigned": "No one assigned.",
          },
          "AssigneeMenu": {
            "Filter": "Filter",
            "Clear All": "Clear All",
          },
          "Labels": {
            "Label": "Label",
            "No label": "No label.",
          },
          "LabelMenu": {
            "Filter": "Filter",
            "Clear All": "Clear All",
            "Manage": "Manage...",
          },
          "ListFilter": {
            "Assignee": "Assignee",
            "Label": "Label",
            "Search": "Search",
          }
        },
        "labels": {
          "New Label": "New Label",
          "Label Title": "Title",
          "Edit": "Edit",
          "Update": "Save",
          "Create": "Create",
          "Cancel": "Cancel",
          "Delete": "Delete",
          "Are you sure delete this Label": "Are you sure to delete this Label?",
        },
        "repositories": {
          "Docs": {
            "Sort by": "Sort by:",
            "Sort by updated": "Updated",
            "Sort by created": "Created",
            "Are you sure to delete this Doc": "Are you sure to delete this Doc?",
            "There is no documents": "There is no documents",
            "You can create first document": "You can create first document.",
            "Create doc": "Create now",
            "Doc was successfully destroyed": "Doc was successfully destroyed.",
          },
        },
        "toc-tree": {
          "Edit Toc": "Edit mode:",
          "Are you sure to delete": "Are you sure to delete this document?",
          "Toc has successfully updated": "Document has successfully updated.",
          "Toc has successfully deleted": "Document has successfully deleted.",
          "Create Doc": "Create Doc",
          "Setting Doc": "Document setting",
          "Repository Settings": "Settings",
          "Edit doc": "Edit",
          "Delete doc": "Delete",
          "Title": "Title",
          "Url": "Custom link",
          "Update": "Save",
          "Cancel": "Cancel",
          "Add a Doc inside": "Add a Doc inside",
          "External Url": "External Link",
          "Select markdown file": "Select Markdown file",
          "Import markdown tips": "The Markdown import is converted to BlueDoc in a compatible way. There may be some differences. Please correct it after editing by importing.",
        },
        "groups": {
          "NewGroup": {
            "New Group": "New Group",
            "Group accounts allow your team to plan, build, review, and ship documents": "Creating a group allows members working on the same project accessing all contents together.",
            "Name": "Group Title",
            "Slug": "Group Name",
            "Description": "Description",
            "Display title of this Group": "Used for displaying group name at different places.",
            "Great group path names are short and memorable": "A short and easy to remember group path is convenient for sharing and accessing.",
            "The letters, numbers or dash is allow, for example": "You can letters, numbers or dash in your group path, e.g.",
            "Create Group": "Create Group",
          },
        },
      }),
    },
    zh_CN: {
      locales: deepAssign(RAILS_I18N["zh-CN"], {
        "There has count issues": '有 <span class="text-danger">%{count}</span> 个问题：',
        "Repository": "知识库",
        "Search in scope": "%{scope}内搜索",
        "Search BlueDoc": "搜索 BlueDoc",
        "dialog": {
          "Cancel": "取消",
        },
        "editor": {
          "Editor": {
            "New Document": "空白文档",
            "Write document contents here": "在这里开始编写文档正文",
            "Paragraph": "普通文本",
            "Heading 2": "大标题",
            "Heading 3": "副标题",
            "Heading 4": "标题 4",
            "Heading 5": "标题 5",
            "Heading 6": "标题 6",
            "Bold": "加粗 ⌘-b",
            "Italic": "倾斜 ⌘-i",
            "Strike Through": "删除线",
            "Underline": "下划线 ⌘-u",
            "Inline Code": "代码标记 ⌘-`",
            "Bulleted list": "无序列表",
            "Numbered list": "有序列表",
            "Indent": "增加缩进 ⌘-]",
            "Outdent": "减少缩进 ⌘-[",
            "Align Left": "左对齐",
            "Align Center": "居中对齐",
            "Align Right": "右对齐",
            "Align Justify": "两边对齐",
            "Quote": "引用",
            "Insert Code block": "插入代码块",
            "Insert PlantUML": "插入 UML",
            "Insert TeX": "插入数学公式",
            "Insert Horizontal line": "水平分割线",
            "Insert Link": "链接",
            "Insert Image": "插入图片",
            "Insert File": "插入附件",
            "Insert Video": "插入视频",
            "Insert Table": "插入表格",
            "Undo": "撤销",
            "Redo": "重做",
            "Clear Format": "清除格式",
          },
          "Core": {
            // For Editor core
            "Delete": "删除",
            "Done": "确定",
            "Invalid file": "无效的文件，请删除后重新上传。",
            "Invalid image": "无效的图片，请删除后重新上传。",
            "Invalid video": "无效的视频，请删除后重新上传。",
            "100% size of image": "缩放到 100% 的宽度",
            "80% size of image": "缩放到 80% 的宽度",
            "50% size of image": "缩放到 50% 的宽度",
            "25% size of image": "缩放到 25% 的宽度",
            "100% size of video": "缩放到 100% 的宽度",
            "80% size of video": "缩放到 80% 的宽度",
            "50% size of video": "缩放到 50% 的宽度",
            "25% size of video": "缩放到 25% 的宽度",
            "Link URL": "链接地址",
            "Enter the link URL": "输入链接地址",
            "Unlink": "取消链接",
            "Add column before": "往前增加列",
            "Add row before": "往前增加行",
            "Add column after": "往后增加列",
            "Add row after": "往后增加行",
            "Remove column": "删除列",
            "Remove row": "删除行",
            "Delete Table": "删除表格",
            "Title": "标题",
            "PlantUML": {
              "Select a example": "选择范例",
              "More": "更多...",
              "Sequence": "时序图",
              "Use case": "用例图",
              "Class": "类图",
              "Activity": "活动图",
              "Component": "组件关系",
              "State": "状态",
              "Object": "面向对象",
              "Deployment": "架构/部署",
              "Timing": "定时图",
              "Apply": "应用",
              "Cancel": "取消",
              "Done": "完成",
            }
          },
          "DocSetting": {
            "Slug": "文档路径",
            "Done": "更新"
          },
        },
        "notes": {
          "EditorSetting": {
            "Note path": "访问路径",
            "Description": "简介",
            "Privacy": "隐私设置",
            "Public": "公开",
            "Anyone can see this Note": "任何人都可以阅读。",
            "Private": "私密",
            "Only you can see this Note": "只有你可以阅读、管理此笔记。",
            "If you change privacy from Public to Private": "如果将笔记从公开切换到私密模式，其他人对此笔记的收藏记录将会被取消掉。",
            "Done": "更新设置",
          },
        },
        "toc": {
          "Table of contents": "目录",
          "Add a custom item": "添加自定义项"
        },
        "issues": {
          "Sidebar": {
            "Participants": "个参与者",
          },
          "Assignees": {
            "Assignee": "任务指派",
            "No one assigned": "暂无指派处理人。",
          },
          "AssigneeMenu": {
            "Filter": "过滤",
            "Clear All": "清除所有",
          },
          "Labels": {
            "Label": "标签",
            "No label": "暂无标签。",
          },
          "LabelMenu": {
            "Filter": "过滤",
            "Clear All": "清除所有",
            "Manage": "标签管理...",
          },
          "ListFilter": {
            "Assignee": "指派",
            "Label": "标签",
            "Search": "搜索",
          }
        },
        "labels": {
          "New Label": "新建标签",
          "Label Title": "名称",
          "Edit": "编辑",
          "Update": "保存",
          "Create": "创建",
          "Cancel": "取消",
          "Delete": "删除",
          "Are you sure delete this Label": "确定要删除这个标签吗？",
        },
        "repositories": {
          "Docs": {
            "Sort by": "排序:",
            "Sort by updated": "更新时间",
            "Sort by created": "创建时间",
            "Are you sure to delete this Doc": "确定要删除这篇文档吗？",
            "There is no documents": "此知识库暂无文档",
            "You can create first document": "你可以现在创建第一篇文档。",
            "Create doc": "立即创建",
            "Doc was successfully destroyed": "文档删除成功。",
          },
        },
        "toc-tree": {
          "Edit Toc": "编辑模式:",
          "Are you sure to delete": "你确定要删除这篇文档吗？",
          "Toc has successfully updated": "文档更新成功。",
          "Toc has successfully deleted": "文档删除成功。",
          "Setting Doc": "文档设置",
          "Create Doc": "新建文档",
          "Repository Settings": "知识库设置",
          "Edit doc": "编辑文档",
          "Delete doc": "删除",
          "Title": "标题",
          "Url": "自定义链接",
          "Update": "保存",
          "Cancel": "取消",
          "Add a Doc inside": "添加子文档",
          "External Url": "外部链接",
          "Select markdown file": "选择 Markdown 文件",
          "Import markdown tips": "Markdown 导入是以兼容的方式转换到 BlueDoc 里面，可能会存在部分差异，请在导入后通过编辑来修正。",
        },
        "groups": {
          "NewGroup": {
            "New Group": "新建团队",
            "Group accounts allow your team to plan, build, review, and ship documents": "团队用将一个项目组或做相同工作的一群人拉到一起，大家可以在同一个团队下组织内容。",
            "Name": "团队名称",
            "Slug": "团队路径",
            "Description": "团队介绍",
            "Display title of this Group": "用于各种地方显示团队的名称。",
            "Great group path names are short and memorable": "一个简单好记的团队路径有助于传播。",
            "The letters, numbers or dash is allow, for example": "字母、数字、中横行都可以用作团队路径，支持使用大写字母，不可以包含中文、空格、特殊字符等，例如:",
            "Create Group": "创建团队",
          },
        }
      }),
    }
  },
  fallbackLng: "en",
  debug: false,
  lng: lang,

  // have a common namespace used around the full app
  ns: ["locales"],
  defaultNS: "locales",

  interpolation: {
    prefix: "%{",
    suffix: "}",
  },

  react: {
    wait: true
  }
});

export default i18n;

