@import "~styles/index";
@import "~bluedoc/editor/index";
@import "~bluedoc/reader/index";
@import "~bluedoc/versions/index";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size : 14px;
  color: #222;
  background: #FFF;
  min-height: 100vh;
}

.pagehead {
  margin-bottom: 0px !important;
}

form {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.rucaptcha-image {
  height: 50px;
  cursor: pointer;

  &:active {
    opacity: 0.6;
  }
}
