@import "~primer/index.scss";
@import "~primer-product/index.scss";
@import "~vendor/styleguide";
@import "~primer-booklab/index.scss";
@import "./iconfont/index.scss";
@import "./mixin.scss";

.container {
  width: auto;
  margin-right: 15px;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .container {
    width: auto;
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (min-width: 1012px) {
  .container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
  }
}

.turbolinks-progress-bar {
  height: 2px;
  background-color: $primary;
}

.nav-header {
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 90;
  left: 0;
  right: 0;
  @extend .d-flex;
  @extend .px-3;
  @extend .pl-md-4;
  @extend .pr-md-4;
  @extend .py-3;
  font-size: 16px;
  min-height: 66px;

  .dropdown-menu {
    font-size: 14px;
  }

  a {
    color: #454545;
  }

  i.fas {
    color: #454545;
    fill: #454545;
  }

  .navbar {
    @extend .flex-self-center;
    @extend .flex-shrink-0;
    @extend .text-white;
  }

  .nav-link {
    color: $black;
    @extend .px-md-1;
    @extend .px-lg-2;

    &.selected {
      color: $primary;
    }
  }

  .dropdown-caret {
    border-top-color: #8e8e8e;
  }

  .avatar { vertical-align: middle; width: 20px !important; height: 20px !important; }
}

.footer {
  padding: 0px;
  color: #999;
  text-align: left;

  .divider { color: #aaa; }

  a {
    color: #666;
  }
}

@media (min-width: 1021px) {
  .footer {
    padding: 30px;
  }
}

.subnav-search {
  .subnav-search-icon {
    top: 10px;
    color: #aaa !important;
    font-size: 18px;
  }
}

.nav-header {
  .subnav-search-context {
    display: none;
  }

   @media (min-width: 768px) {
     .subnav-search-context {
       display: block;
     }
   }
}

.navbar-brand {
  background: transparent !important;

  &:active {
    background: transparent !important;
  }

  font-size: 18px;
  overflow: hidden;
  border: 0;
  border-radius: 0;
  font-weight: 500;
  color: #3c6fe8 !important;

  i.fas {
    width: 24px !important;
    height: 24px !important;
    font-size: 28px;
    margin-right: 2px;
    fill: #3c6fe8;
    color: #3c6fe8;
    vertical-align: text-bottom !important;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    background: darken($primary, 5%);
  }
}

.form-search-control {
  box-shadow: 0 0 0;
  background: #fafafa;
  border-color: #EAEAEA;
  width: 240px;
  min-height: 32px;
  padding: 5px 8px 5px 30px;

  &:hover,
  &:active,
  &:focus {
    background: #fff;
    outline: none !important;
  }
}

.flash-full {
  .flash {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 0px !important;
  }
}

.avatar {
  border-radius: 180px;
  vertical-align: bottom;
  &.avatar-tiny { width: 18px; height: 18px; }
  &.avatar-small { width: 32px; height: 32px; }
  &.avatar-medium { width: 48px; height: 48px; }
  &.avatar-large { width: 220px; height: 220px; }
}
.select-menu {
  .avatar { margin-right: 5px; vertical-align: bottom; }
}
.autocomplete-results .avatar-tiny { width: 18px; height: 18px; margin-right: 4px; vertical-align: bottom; }


.UnderlineNav-item.selected {
  font-weight: normal;
}

form {
  .form-group {
    .control-label {
      display: block;
      @extend .pb-1;
    }

    &>label:not(.form-check-label) {
      display: block;
      @extend .pb-1;
    }
  }

  .form-text {
    color: #777;
    @extend .pt-1;
  }
}

.list-group {
  .list-group-item {
    padding: 15px;
  }
}

.sub-title {
  @extend .Subhead;

  .heading {
    font-size: 28px;
    .fas {
      font-size: 34px;
    }

    @extend .Subhead-heading;
    display: block;
  }

  .description {
    @extend .Subhead-description;
  }

  .actions {
    @exend .Subhead-actions;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.form-checkbox {
  label {
    font-weight: normal;
    display: block;
  }
  .form-text {
    font-size: 12px;
    color: #999;
  }
}


.label-private {
  display: inline-block;
  padding: 3px 4px;
  font-size: 12px;
  line-height: 1;
  border-radius: 2px;
  margin-top: -1px;
  margin-bottom: -1px;
  font-weight: 400;
  border: 1px solid rgba(206, 68, 38, 0.32);
  color: rgba(206, 68, 38, 0.63);
  vertical-align: middle;
}

textarea#repository_toc {
  font-family: Monaco, Consoles, monospace;
}
