<p>Hi, <%= @user.name %></p>
<p>You have successfully signed up to <%= link_to Setting.host, Setting.host %>.</p>
<ul>
  <li>Your username is: <strong style="color: #D04400"><%= @user.slug %></strong></li>
</ul>
<p>Thanks for joining and have a great day!</p>
