<% if current_user %>
<div id="comment-watch-box" class="border-bottom mb-3 pb-3 clearfix">
  <%
  action = current_user.find_action(:watch_comment, target: commentable)
  url = watch_comments_path(commentable_type: commentable.class.name, commentable_id: commentable.id)
  %>
  <% if action %>
    <% if action.action_option == "ignore" %>
      <div class="watch-button-group" watch-status="ignore">
        <div xclass="float-left">You’re ignoring this notifications.</div>
        <%= link_to icon_tag("bell", label: "Subscribe"), url, class: "btn btn-sm float-left", data: { method: :post, remote: true } %>
      </div>
    <% else %>
      <div class="watch-button-group" watch-status="watched">
        <div class="float-left">You’re receiving notifications because you’re subscribed.</div>
        <%= link_to icon_tag("bell-slash", label: "Unsubscribe"), url, class: "btn btn-sm float-left", data: { method: :delete, remote: true } %>
      </div>
    <% end %>
  <% else %>
    <div class="watch-button-group" watch-status="none">
      <div class="float-left">You’re not receiving notifications.</div>
      <%= link_to icon_tag("bell", label: "Subscribe"), url, class: "btn btn-sm float-left", data: { method: :post, remote: true } %>
    </div>
  <% end %>
</div>
<% end %>