In reply to <%= user_avatar_tag(comment.user, style: :tiny) %> <%= user_name_tag(comment.user) %> <span class="comment-id">#comment-<%= comment.id %></span>
<a href="#" class="close" title="Cancel reply"><%= icon_tag("times") %></a>