@import "./mention";
@import "./toolbar";

.editor-body {
  overflow-y: scroll;

  .container {
    width: 100%;
  }

  form { margin: 0; }

  .editor-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: #fff;
    border: 0;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    z-index: 201;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 15px;
    .navbar-title {
      display: flex;
      align-items: baseline;
      flex: 1;
      a { color: #333; }
      .divider { color: #bbb; margin: 0 3px; }
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .navbar-buttons {
      text-align: right;
      > .btn-primary {
        background: none;
        box-shadow: none;
      }
      > .btn {
        text-align: center;
        margin-left: 5px;
        border: 0;
      }
      .doc-setting-box > .btn {
        text-align: center;
        margin-left: 5px;
        border: 0;
        font-size: 18px;
      }
      .dropdown-menu {
        text-align: left;
        right: 5px;
        top: 110%;
      }
    }
  }

  .main-container {
    padding: 0 !important;
  }
}

.editor-lock-window {
  position: absolute;
}

#editor-form {
  width: 100%;
  height: 70px;
  overflow: hidden;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;
}



.editor-container {
  position: absolute;
  top: 0px;
  left: 0;
  padding-top: 64px;
  width: 100%;
  min-height: calc(100vh);
  margin: 0;
}

.rich-editor-full {
  .editor-toolbar {
    position: fixed;
    left: 0;
    top: 64px;
    z-index: 100;
  }

  .editor-bg {
    padding: 100px 20px 50px;
    background: #f9f9f9;
    text-align: center;
    min-height: calc(100vh - 113px);
    position: absolute;
    width: 100%;
    z-index: 99;
  }

  .editor-box {
    margin: 0 auto;
    width: 850px;
    text-align: left;
    padding: 32px 64px;
    box-shadow: 0 1px 5px rgba(224, 224, 224, 0.64);
  }

  .editor-text {
    &>div{
      padding-top: 20px;
      min-height: 800px;
    }
  }
}

.rich-editor-inline {
  border: 1px solid #e9e9e9;
  border-radius: 3px;

  .editor-toolbar {
    padding: 8px;
    text-align: left;
    .container {
      margin: 0;
      padding: 0;
    }
  }

  .editor-box {
  }

  .editor-text {
    font-size: 14px;
    &>div {
      min-height: 170px;
    }
  }

  [data-active=true] {
    &:before {
      display: none !important;
    }
  }
}


.editor-message {
  color: rgb(128, 125, 45);
  margin-left: 10px;

  .fas { font-size: 15px; vertical-align: middle; }
}


.editor-box {
  margin: 0 auto;
  text-align: left;
  background: #FFF;
  border-radius: 0px;
  padding: 24px;

  .editor-title {
    input {
      border: 0px;
      padding: 0;
      padding-bottom: 12px;
      font-size: 26px;
      width: 100%;
      outline: none;
      font-weight: bold;
    }

    border-bottom: 1px solid #eaeaea;
    margin-bottom: 0px;
  }

  .editor-text {
    font-size: 15px;
    line-height: 24px;
    cursor: text;

    // Prism highlight
    pre {
      .token.comment,.token.prolog,.token.doctype,.token.cdata{color:#969896;}
      .token.punctuation,.token.string,.token.atrule,.token.attr-value{color:#183691;}
      .token.property,.token.tag{color:#63a35c;}
      .token.boolean,.token.number{color:#0086b3;}
      .token.selector,.token.attr-name,.token.attr-value .punctuation:first-child,.token.keyword,.token.regex,.token.important{color:#795da3;}
      .token.operator,.token.entity,.token.url,.language-css .token.string{color:#a71d5d;}
      .token.entity{cursor:help;}
      .namespace{opacity:0.7;}
    }

    .code-container {
      position: relative;
      .select-lang {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    ul, ol {
      margin-bottom: 0.25em !important;
    }

    .attachment-file {
      cursor: pointer;
    }

    [data-active=true] {
      position: relative;

      hr {
        background: $primary;
      }
    }

    .attachment-file[data-active=true] {
      background: rgba(84, 141, 252, 0.07) !important;
    }

    blockquote {
      .paragraph {
        margin-bottom: 0px;
      }
    }

    table tr,
    table td,
    .math-box,
    .link-item,
    .image {
      &[data-active=true],
      [data-active=true] {
         &:before {
           content: "";
         }
      }
    }

    [data-valid=false] {
      border: 2px solid $danger;
    }

    .codeblock-box {
      position: relative;

      .select-language {
        float: left;
        -webkit-appearance: none;
        background: transparent;
        border: 0;
        outline: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 13px;
        color: #555;
        padding: 0;
        margin: 0;
        position: relative;
        width: 240px;
      }
      .close {
        float: right;
        color: rgb(155, 155, 155);
        display: none;
      }

    }

    .CodeMirror {
      background-color: #f6f8fa;
      border-radius: 3px;
      padding: 16px;
      margin-bottom: 18px;
      overflow: auto;
      font-size: 85%;
      line-height: 1.45;
      font-family: Monaco, monospace;

      .CodeMirror-hscrollbar,
      .CodeMirror-vscrollbar {
        display: none !important;
      }
    }

    .math-box {
      &[data-active=true] {
        .tex-image {
          background: rgba(187, 201, 255, 0.18) !important;
        }
      }
    }
    .link-item {
      cursor: pointer;
      &[data-active=true] {
        .link-title {
          background: rgba(187, 201, 255, 0.18) !important;
        }
      }
    }

    .plantuml-box {
      &[data-active=true] {
        .plantuml-image {
          background: rgba(187, 201, 255, 0.18) !important;
        }
      }

      .plantuml-image {
        margin-bottom: 0 !important;
      }

      .actions {
        bottom: -38px;
      }

      textarea {
        margin-bottom: 8px;
      }
    }
  }

  /* HOTFIX */
  .markdown-body {
    ol > li > p,
    ul > li > p {
      margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0px;
      padding-top: 0px;
    }

    a:not([href]) {
      color: #3c6fe8;
      text-decoration: underline;
    }

    .paragraph {
      margin-bottom: 16px;
    }

    p:empty {
      margin: 0;
    }
  }

  ul + .paragraph,
  ul + h1,
  ul + h2,
  ul + h3,
  ul + h4,
  ul + h5,
  ul + h6,
  ol + .paragraph,
  ol + h1,
  ol + h2,
  ol + h3,
  ol + h4,
  ol + h5,
  ol + h6 {
    margin-top: 20px !important;
  }
}

.doc-setting-box {
  .dropdown-menu {
    width: 450px;
  }
  .input-slug {
    min-width: 100px;
  }
}

.video-uploading {
  position: absolute;
  top: 35%;
  padding: 64px;
  width: 100%;
  text-align: center;

  .progress {
    text-align: left;
    margin: 0 auto;
    width: 400px;
    border-radius: 3px;
    height: 12px;
    background: #FFF;
  }
}
