@import './toc.scss';
@import './doc.scss';
.toc-form {
  width: 100%;
  background: #FFF;
  width: 100%;

  .toc-navbar {
    height: 64px;
    line-height: 64px;
    background: #fff;
    border: 0;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 9;

    .navbar-title {
      padding-left: 24px;
      a { color: #333; }
      .divider { color: #bbb; margin: 0 5px; }
    }

    .navbar-buttons {
      position: absolute;
      top: 50%;
      right: 15px;
      text-align: right;
      transform: translateY(-50%);
      text-align: center;
      .dropdown-menu {
        text-align: left;
      }
    }
  }
}

.toc-keyboard-tip {
  table {
    td {
      padding: 4px;
      line-height: 1.5;
    }
  }

  .fas {
    font-size: 14px;
  }

  code {
    font-family: Helvetica, Arial;
    font-size: 13px;
    background: #3f3f3f;
    color: #FFF;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    width: 48px;
    height: 25px;
    line-height: 26px;
    overflow: hidden;
    vertical-align: middle;
  }
}

.toc-editor-container {
  position: relative;
  background: #eee;
  width: 100%;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.toc-editor {
  padding: 30px 0;
  max-width: 990px;
  margin: auto;
  height: 100%;
  .doc-list {
    position: sticky;
    top: 94px;
    padding: 14px;
    background: rgba(252, 252, 252, 0.73);
    border: 1px solid #e8e8e8;
    border-radius: 3px;
  }
  .toc-list {
    margin-left: 20px;
    padding: 14px;
    background: rgba(252, 252, 252, 0.73);
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    padding-left: 40px;
    height: 100%;
    overflow-y: scroll;
  }
}
