@import './toc-item.scss';

.toc-form {
  width: 100%;
  height: 70px;
  overflow: hidden;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;

  .toc-navbar {
    height: 64px;
    background: #fff;
    border: 0;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 9;

    .navbar-title {
      line-height: 64px;
      padding-left: 24px;

      a { color: #333; }

      .divider { color: #bbb; margin: 0 5px; }
    }

    .navbar-buttons {
      position: absolute;
      top: 0;
      right: 0;
      height: 64px;
      text-align: right;
      padding-right: 15px;
      padding-top: 14px;

      .btn {
        text-align: center;
      }

      .dropdown-menu {
        text-align: left;
      }
    }
  }
}

.toc-editor-container {
  position: absolute;
  background: #eee;
  padding: 30px;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);
  overflow: hidden;
  margin: 0;

  overflow-y: scroll;

  .toc-item-list {
    float: right;
    width: 70%;
  }

  .doc-item-list {
    float: left;
    width: calc(30vw - 40px);
    margin-right: 40px;
    height: calc(100vh - 84px);
    position: fixed;
    overflow-y: scroll;
  }
}

.doc-item-drageable {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  background: #FFF;
  padding: 8px 13px;
  line-height: 20px;
  border-bottom: 1px solid #f0f0f0;
  padding-right: 34px;
  position: relative;

  &:first-child { border-radius: 3px 3px 0 0; }
  &:last-child { border-radius: 0 0 3px 3px; }

  &.doc-item-new {
    margin-bottom: 8px;
    border-radius: 3px;
    font-weight: bold;

    .opts {
      display: block;
    }
  }
  &.doc-item-exist {
    display: none;
  }

  .slug {
    color: #aaa;
    margin-top: 2px;
    font-size: 13px;
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .opts {
    position: absolute;
    top: 10px;
    right: 13px;
    display: none;

    a { color: #aaa; }
    a:hover { color: #999; }
  }

  &:hover {
    background: #fefef0;
    .opts { display: block; }
  }
}

.toc-editor {
  border-radius: 3px;
  .toc-item:last-child { border: 0; }
}

