@import "../mixin";

.sorting .folder {
  transform: rotate(-90deg);
}
.sorting .cell-wrap {
  pointer-events: none;
}

.toc-edit-item {
  position: relative;
  list-style: none;
  line-height: 40px;
  height: 40px;
  background: #FFF;
  padding: 0 20px;
  border-bottom: 1px solid #f0f0f0;
  margin: 0;
  -webkit-touch-callout: none;
  user-select: none;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  cursor: move;
  &:first-child { border-radius: 3px 3px 0 0; }
  &:last-child { border-radius: 0 0 3px 3px; }
  &.active {
    background: #f9f9f9;
    .form-edit {
      pointer-events: auto;
    }
  }

  .fa-caret {
    color: #aaa;
    font-size: 12px;
  }

  .folder {
    position: absolute;
    left: 10px;
    font-size: 14px;
    color: #333;
    transition: all .2s ease;
    transform-origin: center;
    display: none;
    &.show {
      display: block;
    }
    &.rotate {
      transform: rotate(-90deg);
    }
  }

  .cell-wrap {
    flex: 1;
    padding-left: 10px;

    &:hover {
      span.slug {
        visibility: hidden;
      }
      .pen {
        visibility: visible;
        z-index: 2;
      }
    }
  }

  .form-edit {
    min-width: 60px;
    width: 45%;
    border: 0px;
    @extend .text-overflow;
    border-bottom: 1px solid transparent;
    background: transparent;
    &:focus {
      outline: none;
      color: #333;
    }
  }

  .title {
    color: #555;
    float: left;
    text-align: left;
  }
  .slug {
    float: right;
    text-align: right;
    color: #999;
  }
  .pen {
    visibility: hidden;
    position: absolute;
    color: #666;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
