@import "../colors.scss";

.UnderlineNav-item {
  padding: 8px 6px;
  float: left;
  display: inline-block;

  &.selected {
    border-bottom-color: $primary;
  }
}

@media (min-width: 768px) {
  .UnderlineNav-item {
    padding: 8px 16px;
  }
}