@import "../colors.scss";

.UnderlineNav {
  overflow: hidden;
  overflow-x: scroll;
}
.UnderlineNav-item {
  padding: 8px 6px;
  float: left;
  display: inline-block;

  .Counter {
    display: none;
  }

  &.selected {
    border-bottom-color: $primary;
  }
}

@media (min-width: 768px) {
  .UnderlineNav-item {
    padding: 8px 16px;
    .Counter {
      display: inline-block;
    }
  }
}