.editor-body {
  overflow-y: scroll;

  form { margin: 0; }

  .editor-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: #fff;
    border: 0;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    z-index: 201;

    .navbar-title {
      line-height: 64px;
      padding-left: 24px;

      a { color: #333; }

      .divider { color: #bbb; margin: 0 5px; }
    }

    .navbar-buttons {
      position: absolute;
      top: 0;
      right: 0;
      height: 64px;
      text-align: right;
      padding-right: 15px;
      padding-top: 14px;

      .btn {
        text-align: center;
        margin-left: 5px;
      }

      .dropdown-menu {
        text-align: left;
      }
    }
  }

  .main-container {
    padding: 0 !important;
  }

  .flash-full {
    .container {
      margin-left: 0;
      margin-right: 0;
      width: auto;
    }
  }
}

.editor-lock-window {
  position: absolute;
}

#editor-form {
  width: 100%;
  height: 70px;
  overflow: hidden;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;
}

.editor-toolbar {
  position: fixed;
  left: 0;
  top: 64px;
  width: 100%;
  z-index: 200;
  padding: 10px;
  padding-left: 40px;
  border-bottom: 1px solid #e9e9e9;
  background: #fbfbfb;
  text-align: center;

  details {
    z-index: 9;
  }

  .dropdown-item {
    text-align: left;
  }

  .dropdown-caret {
    border-top-color: #777;
  }
  .bar-button {
    cursor: pointer;
    background: transparent;
    border: 0;
    color: #666;
    padding: 4px;
    line-height: 100%;
    border-radius: 2px;
    margin: 0 1px;
    border: 1px solid transparent;
    display: inline-block;

    i {
      color: #777;
      line-height: 0px;
      font-size: 18px;
    }

    &:hover,
    &.active {
      background: #eee;
      border: 1px solid #e9e9e9;
    }
  }

  .bar-divider {
    border-left: 1px solid #e9e9e9;
    margin-left: 6px;
    padding-right: 6px;
  }
}

.editor-container {
  position: absolute;
  top: 0px;
  left: 0;
  padding-top: 64px;
  width: 100%;
  min-height: calc(100vh);
  margin: 0;
}

.editor-bg {
  padding: 100px 20px 50px 20px;
  background: #f9f9f9;
  text-align: center;
  min-height: calc(100vh - 113px);
}

.editor-message {
  color: rgb(128, 125, 45);
  margin-left: 10px;

  .fas { font-size: 15px; vertical-align: middle; }
}


.editor-box {
  margin: 0 auto;
  width: 850px;
  text-align: left;
  padding: 32px 64px;
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(125, 125, 125, 0.09);
  border: 1px solid #eaeaea;

  .editor-title {
    input {
      border: 0px;
      padding: 0;
      padding-bottom: 12px;
      font-size: 26px;
      width: 100%;
      outline: none;
      font-weight: bold;
    }

    border-bottom: 1px solid #eaeaea;
    margin-bottom: 0px;
  }

  .editor-text {
    font-size: 15px;
    line-height: 24px;
    cursor: text;

    &>div{
      padding-top: 20px;
      min-height: 800px;
    }

    // Prism highlight
    pre {
      .token.comment,.token.prolog,.token.doctype,.token.cdata{color:#969896;}
      .token.punctuation,.token.string,.token.atrule,.token.attr-value{color:#183691;}
      .token.property,.token.tag{color:#63a35c;}
      .token.boolean,.token.number{color:#0086b3;}
      .token.selector,.token.attr-name,.token.attr-value .punctuation:first-child,.token.keyword,.token.regex,.token.important{color:#795da3;}
      .token.operator,.token.entity,.token.url,.language-css .token.string{color:#a71d5d;}
      .token.entity{cursor:help;}
      .namespace{opacity:0.7;}
    }

    .code-container {
      position: relative;
      .select-lang {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    ul, ol {
      margin-bottom: 0.25em !important;
    }

    .attachment-file {
      cursor: pointer;
    }

    [data-active=true] {
      position: relative;
      &:before {
        content: "⇢";
        position: absolute;
        color: rgba(0, 0, 0, 0.3);
        left: -32px;
        font-size: 20px;
        display: block;
      }

      hr {
        background: $primary;
      }
    }

    .attachment-file[data-active=true] {
      background: rgba(84, 141, 252, 0.07) !important;
    }

    blockquote {
      .paragraph {
        margin-bottom: 0px;
      }

      .paragraph[data-active=true] {
        &:before {
          left: -48px;
        }
      }
    }

    table tr,
    table td,
    .math-box,
    .image {
      &[data-active=true],
      [data-active=true] {
         &:before {
           content: "";
         }
      }
    }

    .codeblock-box {
      position: relative;

      .select-language {
        float: left;
        -webkit-appearance: none;
        background: transparent;
        border: 0;
        outline: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 13px;
        color: #555;
        padding: 1px 5px;
        margin: 0;
        position: relative;

        &:hover {
          background: #f4f4f4;
        }
      }
      .close {
        float: right;
        color: #999;
        display: none;
      }

    }

    .CodeMirror {
      background-color: #f6f8fa;
      border-radius: 3px;
      padding: 16px;
      margin-bottom: 18px;
      overflow: auto;
      font-size: 85%;
      line-height: 1.45;
      font-family: Monaco, monospace;

      .CodeMirror-hscrollbar,
      .CodeMirror-vscrollbar {
        display: none !important;
      }
    }

    .math-box {
      &[data-active=true] {
        .tex-image {
          background: rgba(187, 201, 255, 0.18) !important;
        }
      }
    }

    .plantuml-box {
      &[data-active=true] {
        .plantuml-image {
          background: rgba(187, 201, 255, 0.18) !important;
        }
      }

      .plantuml-image {
        margin-bottom: 0 !important;
      }

      .actions {
        bottom: -38px;
      }

      textarea {
        margin-bottom: 8px;
      }
    }
  }

  /* HOTFIX */
  .markdown-body {
    ol > li > p,
    ul > li > p {
      margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0px;
      padding-top: 0px;
    }

    a:not([href]) {
      color: #3c6fe8;
      text-decoration: underline;
    }

    .paragraph {
      margin-bottom: 16px;
    }

    p:empty {
      margin: 0;
    }
  }
}

.doc-setting-box {
  .dropdown-menu {
    width: 450px;
  }

  .input-slug {
    width: 200px;
  }
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;

  .input-group-prepend {
    margin-right: -1px;
    display: flex;

    .input-group-text {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      padding: .375rem .75rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      text-align: center;
      white-space: nowrap;
      background-color: #f0f0f0;
      border: 1px solid #eee;
      border-radius: 2px;
    }

    .form-control {
      position: relative;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 1%;
      margin-bottom: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.video-uploading {
  position: absolute;
  top: 35%;
  padding: 64px;
  width: 100%;
  text-align: center;

  .progress {
    text-align: left;
    margin: 0 auto;
    width: 400px;
    border-radius: 3px;
    height: 12px;
    background: #FFF;
  }
}

.progress {
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
  height: 6px;
  overflow: hidden;
  font-size: 13px;
  background-color: #e9ecef;
  border-radius: 1px;

  .progress-bar {
    display: -ms-flexbox;
    display: flex;
    border-radius: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #6f95ed;
    transition: width .6s ease;
  }
}