.editor-body {
  .editor-navbar {
    height: 64px;
    background: #fff;
    border: 0;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 9;

    .navbar-title {
      line-height: 64px;
      padding-left: 24px;

      a { color: #333; }

      .divider { color: #bbb; margin: 0 5px; }
    }

    .navbar-buttons {
      position: absolute;
      top: 0;
      right: 0;
      height: 64px;
      text-align: right;
      padding-right: 15px;
      padding-top: 14px;

      .btn {
        text-align: center;
      }

      .dropdown-menu {
        text-align: left;
      }
    }
  }

  .main-container {
    padding: 0 !important;
  }

  .flash-full {
    .container {
      margin-left: 0;
      margin-right: 0;
      width: auto;
    }
  }
  overflow: hidden;
}

.editor-lock-window {
  position: absolute;
}

#editor-form {
  width: 100%;
  height: 70px;
  overflow: hidden;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;
}

.editor-container {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);
  overflow: hidden;
  margin: 0;
}

.editor-bg {
  padding: 50px 20px;
  background: #f9f9f9;
  text-align: center;
  overflow-y: scroll;
  height: calc(100vh - 113px);
}

.editor-message {
  color: rgb(128, 125, 45);
  margin-left: 10px;

  .fas { font-size: 15px; vertical-align: middle; }
}


.editor-toolbar {
  padding: 10px;
  padding-left: 40px;
  border-bottom: 1px solid #e9e9e9;
  background: #fbfbfb;
  text-align: center;

  .bar-button {
    cursor: pointer;
    background: transparent;
    border: 0;
    color: #666;
    padding: 4px;
    line-height: 0px;
    border-radius: 2px;
    margin: 0 1px;
    border: 1px solid transparent;
    display: inline-block;

    i {
      color: #777;
      font-size: 18px;
    }

    &:hover,
    &.active {
      background: #eee;
      border: 1px solid #e9e9e9;
    }
  }

  .bar-divider {
    border-left: 1px solid #e9e9e9;
    margin-left: 6px;
    padding-right: 6px;
  }
}


.editor-box {
  margin: 0 auto;
  width: 850px;
  text-align: left;
  padding: 32px 64px;
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(125, 125, 125, 0.09);
  border: 1px solid #eaeaea;

  .editor-title {
    input {
      border: 0px;
      padding: 0;
      padding-bottom: 12px;
      font-size: 26px;
      width: 100%;
      outline: none;
      font-weight: bold;
    }

    border-bottom: 1px solid #eaeaea;
    margin-bottom: 0px;
  }

  .editor-slug {
    input {
      border: 0px;
      padding: 8px 0;
      font-size: 13px;
      width: 100%;
      outline: none;
      font-weight: normal;
    }
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
  }

  .editor-text {
    font-size: 15px;
    line-height: 24px;
    cursor: text;

    &>div{
      min-height: 800px;
    }

    p, hr, pre, table {
      margin-bottom: 0px !important;
    }

    [data-slate-editor] > * + * {
      margin-bottom: 16px;
    }

    // Prism highlight
    pre {
      .token.comment,.token.prolog,.token.doctype,.token.cdata{color:#969896;}
      .token.punctuation,.token.string,.token.atrule,.token.attr-value{color:#183691;}
      .token.property,.token.tag{color:#63a35c;}
      .token.boolean,.token.number{color:#0086b3;}
      .token.selector,.token.attr-name,.token.attr-value .punctuation:first-child,.token.keyword,.token.regex,.token.important{color:#795da3;}
      .token.operator,.token.entity,.token.url,.language-css .token.string{color:#a71d5d;}
      .token.entity{cursor:help;}
      .namespace{opacity:0.7;}
    }

    .code-container {
      position: relative;
      .select-lang {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    ul, ol {
      margin-bottom: 0.25em !important;
    }

    .attachment-file {
      cursor: pointer;
    }

    [data-active=true] {
      background: rgba(4, 85, 221, 0.04);
      hr {
        background: $primary;
      }
    }

    .CodeMirror {
      padding: 16px;
      overflow: auto;
      font-size: 85%;
      line-height: 1.45;
      background-color: #f6f8fa;
      border-radius: 3px;
      font-family: Monaco, monospace;
    }
  }

  /* HOTFIX */
  .markdown-body {
    ol > li > p,
    ul > li > p {
      margin: 0;
    }

    a:not([href]) {
      color: #3c6fe8;
      text-decoration: underline;
    }

    p:empty {
      margin: 0;
    }
  }
}
