.is-auto-complete-loading {
  .form-control {
    padding-right: 30px;
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-image: url('~primer-booklab/loading.svg');
    background-size: 16px
  }
}
