<%
  member = notification.target
%>

<div class="info mb-2">
  <%= user_name_tag(notification.actor) %> as added you as member of:
</div>

<% if member.subject_type == "Repository" %>
  <%= render "/repositories/card", repository: member.subject %>
<% else %>
  <%= render "/users/card", user: member.subject %>
<% end %>