<%
  comment = notification.target
%>

<div class="info mb-2">
  <%= user_name_tag(notification.actor) %> was posted a comment on:
</div>

<% if comment.commentable_type == "Doc" %>
  <%= render "/docs/card", doc: comment.commentable %>
<% end %>