<div class="user-following">
  <% if @users.blank? %>
    <div class="blankslate">
      <p><%= @user.name %> <%= t(".no following") %></p>
    </div>
  <% else %>
    <ul class="list-container">
      <%= render @users %>
    </ul>
    <%= paginate @users %>
  <% end %>
</div>
