<div class="user-followers">
  <% if @users.blank? %>
    <div class="blankslate">
      <p><%= @user.name %> not has followers</p>
    </div>
  <% else %>
    <%= render @users %>
    <%= paginate @users %>
  <% end %>
</div>
