<nav class="UnderlineNav mb-3 top-0">
  <div class="UnderlineNav-body">
    <%= render_list_items(type: :link, class: "UnderlineNav-item", check_parameters: true) do |item|
      item << link_to("Overview", @user.to_path, class: "UnderlineNav-item")
      item << link_to("Repositories", @user.to_path("?tab=repositories"), class: "UnderlineNav-item")
      item << link_to("Stars", @user.to_path("?tab=stars"), class: "UnderlineNav-item")
      item << link_to(@user.to_path("?tab=followers"), class: "UnderlineNav-item") do
        %>
        Followers <span class="Counter followers-count" data-login="<%= @user.slug %>"><%= @user.followers_count %></span>
        <%
      end
      item << link_to(@user.to_path("?tab=following"), class: "UnderlineNav-item") do
        %>
        Following <span class="Counter"><%= @user.following_count %></span>
        <%
      end
    end %>
  </div>
</nav>
