<div class="user-overview">
  <div class="user-activities mt-4">
    <% if @activities.blank? %>
      <div class="blankslate">
        <p><strong><%= @user.name %></strong> <%= t(".no activities") %></p>
      </div>
    <% else %>
      <%= render @activities %>
      <%= render "/shared/more_button" %>
    <% end %>
  </div>
</div>

