<div class="user-overview">
  <% if @repositories.blank? %>
    <div class="blankslate">
      <p><strong><%= @user.name %></strong> was not have any repositories</p>
    </p>
  <% else %>
    <%= render @repositories %>
    <%= paginate @repositories %>
  <% end %>
</div>
