<div class="user-repositories">
  <% if @repositories.blank? %>
    <div class="blankslate">
      <p><strong><%= @user.name %></strong> was not have any repositories</p>
    </div>
  <% else %>
    <%= render partial: "/repositories/repository", locals: { current_group: @user, items: @repositories } %>
    <%= paginate @repositories %>
  <% end %>
</div>

