<div class="user-stars">
  <% if @repositories.blank? %>
    <div class="blankslate">
      <p><strong><%= @user.name %></strong> was not star any repositories</p>
    </p>
  <% else %>
    <%= render partial: "/repositories/repository", locals: { current_group: @user, items: @repositories } %>
    <%= paginate @repositories %>
  <% end %>
</div>
