<div class="user-stars">
  <% if @repositories.blank? %>
    <div class="blankslate">
      <p><strong><%= @user.name %></strong> was not star any repositories</p>
    </p>
  <% else %>
    <ul class="list-container repository-list">
      <%= render partial: "/repositories/repository", collection: @repositories, locals: { current_group: @user } %>
    </ul>
    <%= paginate @repositories %>
  <% end %>
</div>
