<% title_tag "#{@user.name} (#{@user.slug})" %>
<div class="aside-wrap">
  <%= render "sidebar" %>
</div>
<div class="main-wrap">
  <div class="main-content">
  </div>
  <%= render(params[:tab] || "overview")  %>
</div>
