<% title_tag "#{@user.name} (#{@user.slug})" %>

<div class="flex-wrap">
<div class="aside-wrap">
  <%= render "sidebar" %>
</div>
<div class="main-wrap">
  <div class="main-content">
    <%= render(params[:tab] || "overview")  %>
  </div>
</div>
</div>