<% title_tag "#{@user.name} (#{@user.slug})" %>

<div class="clearfix">
  <%= render "sidebar" %>

  <div class="col-12 col-md-9 float-left">
    <%= render "menu" %>

    <%= render(params[:tab] || "overview")  %>
  </div>
</div>
