<% title_tag "#{@user.name} (#{@user.slug})" %>

<div class="col-12 d-table">
  <%= render "sidebar" %>

  <div class="col-9 d-table-cell v-align-top">
    <%= render "menu" %>

    <%= render(params[:tab] || "overview")  %>
  </div>
</div>
