<% if doc %>
  <div class="doc-card">
    <div class="mb-1 text-main">
      <%= doc_title_tag(doc) %>
    </div>
    <div class="path">
      <%= user_display_name_tag(doc.repository&.user) %> / 
      <%= repository_name_tag(doc.repository) %>
    </div>
  </div>
<% end %>
