<% title_tag "Collaborators", @repository.name %>

<div class="clearfix">
  <%= render "menu" %>
  <div class="col-12 col-md-9 float-left">
    <div class="Box transfer-docs">
      <div class="Box-header">
        <h4 class="title mb-2">Collaborators</h4>
        <div class="text-gray">
          Push access to the repository
        </div>
      </div>
      <ul id="repository-members" class="table-list members">
        <% @members.each do |member| %>
          <%= render "member", member: member %>
        <% end %>
      </ul>
      <div class="Box-footer">
        <%= form_with(model: Member.new, url: collaborators_user_repository_settings_path(@repository.user, @repository), method: :post, class: "add-repository-member") do |form| %>
          <h4 class="text-gray">Search by username, full name or email address</h4>
          <p class="text-gray">By default, will add user as <strong>Editor</strong> role.</p>
          <div class="input-group mt-2">
            <%= render partial: "shared/autocomplete_users", locals: { input_name: "member[user_slug]" } %>
            <span class="input-group-button">
              <button type="submit" class="btn">Add <span class="hide-sm">collaborator</span></button>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>