<% if target.errors.any? %>
  <div class="notice notice-block notice-error">
    <%= close_button %>
    <p class="mb-2 text-main notice-title"><%= t(".There has count issues_html", count: target.errors.count) %></p>
    <ul class="notice-lists">
      <% target.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
