<div class="card mx-auto p-5" style="margin-top: 50px; max-width: 750px">
  <h1><%= icon_tag("error") %> <%= t(".Access Denied") %></h1>
  <p class="mt-2"><%= t(".Sorry you do not have permission visit it") %></p>
</div>