<div class="card mx-auto p-5" style="margin-top: 50px; max-width: 750px">
  <h1><%= icon_tag("error") %> <%= t(".Feature not enable") %></h1>
  <p class="mt-2"><%= t(".Sorry, this Feature not in enable in current") %></p>
</div>