<div  class="blankslate no-data not-found">
  <h1><%= t(".Page not found") %></h1>
  <p class="mt-2 text-primary"><%= request.url %></p>
  <p><%= t(".Sorry, that page does not exist") %></p>
  <div class="actions">
    <a href="/" class="btn btn-primary"><%= t(".Back to home") %></a>
  </div>
</div>
