<div class="card mx-auto p-5" style="margin-top: 50px; max-width: 750px">
  <h1><%= icon_tag("info") %> <%= t(".Page not found") %></h1>
  <p class="mt-2"><%= request.url %></p>
  <p><%= t(".Sorry, that page does not exist") %></p>
</div>