<div class="card mx-auto p-5" style="margin-top: 50px; min-width: 450px; max-width: 750px">
  <h1><%= icon_tag("error") %> Users limit error</h1>
  <div class="mt-2"><%= simple_format @exception.message %></div>
  <div class="mt-2">Please contact <a href="https://bluedoc.org">BlueDoc</a> official to upgrade to Pro version.
</div>