.box {
  margin-bottom: 18px;

  .box-header {
    margin-bottom: 12px;
  }

  .box-row {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    &:last-child {
      margin: 0;
    }
  }
}