.btn {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  line-height: 100%;
  background: #fff;
  text-align: center;
  border: 1px solid #e0e0e0;
  background: #fff;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  .fas  {
    font-size: 16px;
  }

  &:hover {
    text-decoration: none;
    color: $primary;
  }
}

.social-count {
   padding: 6px 5px;
   background: #fff;
   border: 1px solid #e0e0e0;
   border-left: 0px;
   line-height: 100%;
   font-size: 14px;
   position: relative;
   top: 1px;
   margin-right: 15px;
}

.btn-link {
  border: 0px;
  background: transparent;
}

.btn-primary {
  border: 1px solid #9BBAFF;
  background: #F3F7FF;
  color: $primary;

  &:hover {
    border-color: #8EAAEE;
  }
}

.btn-danger {
  border: 1px solid #FFC1BE;
  background: #FFF3F3;
  color: #EE4343;

  &:hover {
    border-color: #F3B7B7;
    color: #AA2528;
    background: #FFF3F3;
  }
}

.btn-block {
  display: block;
}

.btn-submit {
  width: 340px;
}
