.cards-container {
  @extend .clearfix;
}

.card {
  padding: 12px 20px;
  line-height: 1.4;
  list-style: none;
  position: relative;
  @extend .card-box;
  &:hover {
    .action {
      visibility: visible;
    }
  }
  &.card-avatar {
    padding-left: 67px;
  }
  .user-avatar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }
  .path {
    color: $text-gray-light;
    a {
      color: $text-gray;
    }
    font-size: 12px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .title {
    color: $black;
    font-size: 15px;
    padding-right: 35px;
    padding-bottom: 10px;
    flex: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .info {
    font-size: 12px;
    color: $text-gray-light;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .action {
    visibility: hidden;
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #979797;
    a {
      width: 30px;
      height: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      &:hover {
        border-radius: 50%;
        background: #f7f7f7;
      }
    }
  }
}

