.details-overlay[open] {
  & > .summary-overlay::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 80;
    display: block;
    cursor: default;
    content: " ";
    background: transparent;
  }
}

.details-overlay-dark[open] {
  & > .summary-overlay::before {
    z-index: 99;
    background: rgba(27, 31, 35, 0.5);
  }
}

details-dialog {
  position: fixed;
  margin: 0vh auto;
  width: 100%;
  height: 100vh;
  background: #fff;
  padding: 30px 24px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  font-weight: initial;
  .btn-cancel {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 16px;
    color: $text-gray;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
  }
  .btn-octicon {
    border: 0;
    background: transparent;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 24px;
    color: $text-main;
    &:hover {
      color: $primary;
    }
  }
  .box-title {
    font-size: 18px;
  }
  .actions {
    float: right;
  }
}

@media (min-width: 768px) {
  details-dialog {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: auto;
    max-height: 100vh;
    border-radius: 3px;
  }
}

summary {
  outline: none !important;
}


.nav-header {
  details[open] {
    summary {
      opacity: 0.6;
    }
  }
}