.flash {
  padding: 10px;

  &.flash-error {
    color: $danger;
  }

  button {
    border: 0;
    background: transparent;
    float: right;
    margin-top: -2px;
  }
}

.flash-block {
  padding: 0;
  display: block;
  margin-bottom: 18px;

  ul, ol {
    margin-left: 24px;
  }
}

.flash-full {
  .flash-block {
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;

    .container {
      background: #fff;
      text-align: left;
      display: block;
    }
  }
}

