.label {
  padding: 0 12px;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  .fas {
    font-size: inherit;
  }
}

.label-private {
  border-color: $green;
  color: $green;
  font-weight: normal;
}