.list-container {
  
}

.list-item {
  width: 100%;
  padding: 15px 0;
  line-height: 1.4;
  list-style: none;
  border-bottom: 1px solid #E6E6E6;
  position: relative;
  &:hover {
    border-bottom: 1px solid $ThemeColor;
  }
  &.list-avatar {
    padding-left: 47px;
  }
  .avatar {
    position: absolute;
    top: 20px;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .description, .path {
    color: #777;
    a { color: inherit; }
    font-size: 12px;
    margin-bottom: 5px;
  }
  .title {
    a { color: #000; }
    font-size: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: auto;
  }
  .info > span {
    display: inline-block;
    min-width: 120px;
    margin-right: 20px;
    .fas {
      margin-right: 5px;
    }
  }
  .time {
    position: absolute;
    right: 0;
    bottom: 15px;
    font-size: 12px;
    color: #777;
  }
}