.list-item {
  width: 100%;
  padding: 15px 0;
  line-height: 1.4;
  list-style: none;
  border-bottom: 1px solid #E6E6E6;
  position: relative;
  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 1px);
    display: block;
    content: '';
    width: 0;
    background: $primary;
    height: 1px;
    transition: .4s;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
  &.list-avatar {
    padding-left: 47px;
  }
  .avatar-box {
    position: absolute;
    top: 21.5px;
    left: 0;
    line-height: 0;
  }
  .icon-box {
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
    color: $white;
  }
  .description, .path {
    display: block;
    color: $text-gray;
    font-size: 12px;
  }
  .title {
    display: block;
    a {
      color: #000;
    }
    font-size: 15px;
    padding-right: 20px;
    margin-bottom: 4px;
    flex: auto;
  }
  .info {
    margin-top: 17px;
    span {
      display: inline-block;
      min-width: 60px;
      margin-right: 20px;
      color: #333;
      vertical-align: middle;
      &.user {
        min-width: 140px;
      }
      .fas {
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }
  .time-box {
    position: absolute;
    right: 0;
    bottom: 15px;
    font-size: 12px;
    color: $text-gray;
  }
  .action {
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 18px;
    opacity: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    &:hover {
      border-radius: 50%;
      background: #f7f7f7;
    }
    .btn {
      padding: 0;
      line-height: 1;
    }
  }

  &:hover {
    .action {
      opacity: 1;
    }
  }
}

.list-group {
  .list-group-item {
    padding: 10px 0;
  }
}

.icon-box {
  &.icon-doc {
    background: #3BB46E;
  }
  &.icon-rep {
    padding: 6px;
    font-size: 18px;
    background: #FCBA00;
  }
}
