.list-container {
  width: 550px;
}

.list-item {
  width: 100%;
  padding: 15px 0;
  line-height: 1.4;
  list-style: none;
  border-bottom: 1px solid #E6E6E6;
  position: relative;
  &:hover {
  }
  &.list-avatar {
    padding-left: 47px;
  }
  .avatar {
    position: absolute;
    top: 20px;
    left: 0;
  }
  .description, .path {
    color: $text-gray;
    a { color: inherit; }
    font-size: 12px;
    margin-bottom: 5px;
  }
  .title {
    a { color: #000; }
    font-size: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: auto;
  }
  .info > span {
    display: inline-block;
    min-width: 120px;
    margin-right: 20px;
    .fas {
      font-size: 16px;
      margin-top: -3px;
      margin-right: 5px;
    }
  }
  .time-box {
    position: absolute;
    right: 0;
    bottom: 15px;
    font-size: 12px;
    color: $text-gray;
  }
  .action {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 18px;
    opacity: 0;

    a {
      .fas {
        &:hover {
          color: $primary;
        }
      }
    }
  }

  &:hover {
    .action {
      opacity: 1;
    }
  }
}

.list-group {
  .list-group-item {
    padding: 10px 0;
  }
}