// left menu
.menu {
  display: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  @include breakpoint(lg) {
    display: block;
  }
  .menu-item {
    line-height: 20px;
    display: block;
    color: $text-main;
    text-decoration: none;
    margin-bottom: 10px;
    .Counter,
    .counter {
      margin-left: 4px;
      color: #999 !important;
    }
    &.last {
      margin-bottom: 30px;
    }
    i.fas {
      font-size: 16px;
      color: #979797;
      margin-right: 5px;
    }
    &.selected {
      color: $primary;
      i.fas {
        color: inherit;
      }
    }
    &.menu-sub-item {
      color: $text-gray-light;
      .fas { opacity: 0; }
      &.selected {
        color: $primary;
        .fas { opacity: 1; }
      }
    }
    &.depth-1 {
      text-indent: 1em;
    }
  }

  a.menu-item {
    &:hover {
      color: $primary;
      .fas {
        color: inherit;
      }
    }
  }
}