.reponav {
  margin-left: -10px;
  .reponav-item {
    padding: 10px 10px 15px;
    font-size: 14px;
    margin-right: 30px;
    text-decoration: none;
    color: $text-gray;
    position: relative;
    &.selected {
      color: $text-main;
      &::after {
        display: block;
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 0;
        height: 1px;
        background: $black
      }
    }
  }
}