.pagination {
  margin-top: 15px;

  .previous_page,
  .next_page {
    .text {
      display: none;
    }
  }
}

.pagination:after, .pagination:before {
  display: table;
  content: ""
}

.pagination:after {
  clear: both
}

.pagination a, .pagination em, .pagination span {
  position: relative;
  float: left;
  padding: 5px 12px;
  margin: 0 3px;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  color: $text-main;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #F8F8FB;
  border-radius: 2px;
}

.pagination a:first-child, .pagination em:first-child, .pagination span:first-child {
  margin-left: 0;
}

.pagination a:focus, .pagination a:hover, .pagination em:focus, .pagination em:hover,
.pagination span:focus, .pagination span:hover {
  z-index: 2;
  text-decoration: underline;
  color: $text-gray;
}

.pagination .selected {
  z-index: 3;
  text-decoration: none !important;
  color: $white !important;
  background: $primary;
}

.pagination .current, .pagination .current:hover {
  z-index: 3;
  text-decoration: underline;
  color: $text-gray;
}

.pagination .disabled, .pagination .disabled:hover, .pagination .gap,
.pagination .gap:hover {
  color: #d0d0d0;
  text-decoration: none;
  cursor: default;
}