.quick-wrap {
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.quick-btn {
  padding: 10px;
  margin-bottom: 10px;
  background: #f7f7f7;
  border-radius: 50%;
  display: block;
  &:hover {
    color: $primary;
  }
}

.quick-top {
  transform: rotate(180deg);
}