.quick-wrap {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.quick-btn {
  padding: 10px;
  margin-bottom: 10px;
  background: #f7f7f7;
  border-radius: 50%;
  display: block;
  &:hover {
    color: $primary;
  }
  cursor: pointer;
}

.quick-top {
  transform: rotate(180deg);
}