.subnav-search-context {
  margin: 0;
  .subnav-search {
    position: relative;
    margin-right: 30px;
    font-size: 13px;
    color: #BBBBBB;
    .subnav-search-input {
      width: 200px;
      padding: 4px 20px 4px 30px;
      border-radius: 30px;
      border: 1px solid #D9D9D9;
      outline: none;
      color: $text-main;
      height: auto;
      line-height: 1.5;

      &::placeholder {
        color: inherit;
      }
    }
    .subnav-search-icon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}