.subhead,
.sub-title {
  h2,
  .heading {
    padding: 0;
    margin: 0;
    border-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    color: #111;
  }

  .description {
    color: #999;
    margin-bottom: 20px;
  }

  .btn {
    padding: 0px 10px;
    border: 0;
    background: transparent;
    font-size: 13px;
  }
}