.drop {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: $primary;
}

.toc-tree-toolbar {
  @extend .card;
  @extend .card:hover;

  position: relative;

  .actions {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .fas {
    font-size: 16px;
  }

  .dropdown-menu {
    text-align: left;
    right: -9px;
    top: calc(100% - -1px);
  }
}

.toc-tree[data-edit-mode=true] {
  .toc-items {
    .toc-item {
      position: relative;

      .item-link {
        padding-left: 3px;
        width: auto;
      }

      .item-more {
        position: absolute;
        visibility: hidden;
        right: 4px;
        top: 4px;
        summary {
          height: 20px;
          line-height: 20px;
          width: 20px;
          border-radius: 2px;
          text-align: center;
        }

        .dropdown-item {
          display: block !important;
        }
      }

      &:hover {
        background: #f7f7f7;

        .item-more {
          visibility: visible;
          background: #f7f7f7;

          summary {
            border: 1px solid transparent;
            &:hover {
              background: #eee;
              border-color: #e0e0e0;
            }
          }
        }
      }

      details[open] {
        background: #f7f7f7;
        summary {
          background: #eee;
          border: 1px solid #e0e0e0 !important;
        }
      }


      &.drop-left::after {
        top: -1px;
        @extend .drop;
      }
      &.drop-right::after {
        bottom: -1px;
        @extend .drop;
      }
      &.drop-child {
        color: #fff;
        background: $primary;
      }
    }
  }
}
