.page-users, .page-group_members, .page-group_settings, .page-groups {
  .new-group-form {
    max-width: 740px;
    margin: 10px auto;

    @include breakpoint(md) {
      padding-right: 110px;
      background: transparent url(~images/nodata/group.svg) right 70px no-repeat;
      background-size: 280px auto;
    }

    .heading {

    }
  }

  .group-heading {
    background: #f7f7f7;

    .heading {
      display: block;
      align-items: center;
      padding: 20px 0 0 0;

      .group-avatar-box {
        .avatar {
          width: 30px;
          height: 30px;
        }
      }

      .group-name {
        margin-bottom: 20px;
        text-align: center;


        h1 {
          font-size: 28px;
          line-height: 28px;
          a {
            max-width: 450px;
            color: #333 !important;
            @extend .text-overflow;
          }
        }

        .group-title {
          margin-top: 10px;
          margin-left: 10px;
          max-width: 450px;
          @extend .text-overflow;
        }

        .group-description {
          color: rgb(68, 68, 68);
          margin-top: 6px;
          max-width: 450px;
          @extend .text-overflow;
        }
      }

      .heading-actions {
        text-align: center;

        .group-info {
          margin-bottom: 10px;
          color: rgb(68, 68, 68);

          .group-url {
            color: rgb(68, 68, 68);
            line-height: 100%;

            span {
              max-width: 200px;
              @extend .text-overflow;
            }
          }
        }
      }

      @include breakpoint(md) {
        display: flex;

        .group-name {
          display: flex;
          flex-wrap: nowrap;
          align-items: top;
          text-align: left !important;

          .group-title {
            margin-top: 0px;
          }
        }

        .heading-actions {
          justify-content: flex-end;
          flex-grow: 2;
          text-align: right;

          .group-info {
            margin-bottom: 20px;
          }
        }

        .reponav {
          margin-right: -15px;
        }
      }

    }
  }

  .list-col-2 .list-item {
    width: calc(50% - 40px);
    &:nth-child(2n + 1) {
      margin-right: 80px;
    }
  }
  .group-members {
    font-size: 15px;
  }
  .list .user-avatar {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
