@import "~bluedoc/mixin";

.nav-header {
  .nav-link.selected {
    color: #000;
    font-weight: bold;
  }
}

.table {
  .opts {
    a { margin-left: 5px; color: #999; }
  }
  tr.deleted {
    td { text-decoration: line-through; }
    .opts {
      text-decoration: none !important;
    }
  }
}

.detail {
  .detail-action {
    text-align: left;
    margin-bottom: 10px;
  }

  .detail-row {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px;
    vertical-align: top;

    @extend .clearfix;

    .detail-label {
      margin-bottom: 5px;
      float: left;
      text-align: right;
      margin-right: 10px;
      width: 150px;
      color: #666;

      vertical-align: top;
    }
  }
}

form {
  .form-checkbox {
      padding-left: 0;
  }

  .control-label {
    font-size: 14px;
  }

  code {
    color: #666 !important;
    padding: 1px 3px !important;
    background: #f7f7f7 !important;
    font-weight: normal !important;
  }

  pre {
    background: #f7f7f7;
    padding: 12px;
    border-radius: 3px;
  }
}

.sub-title {
  font-size: 18px;
  font-weight: bold;
}