@page {
  margin: 1.5cm;
}

section {
  margin-bottom: 0;
}

.reader-body {
  background: red !important;

  .nav-header,
  .reader-navbar,
  .doc-body-toc,
  .doc-sidebar,
  .doc-reaction,
  .doc-info,
  .doc-comments,
  .doc-readers,
  .note-readers,
  .between-docs,
  .atwho-container,
  .navbar-notice,
  .footer,
  .heading-anchor,
  .inline-comment-button { display: none !important; }
  h1.doc-title { text-align: center; }

  .markdown-body {
    font-size: 15px;

    a {
      text-decoration: none;
    }

    a[href^="http"]:after {
        content: " (" attr(href) ")";
        color: #ccc;
    }

    pre {
      padding: 16px 25px;
      color: #444;
    }

    hr {
      border: 2px solid #ddd;
    }

    table {
        display: table;
        width: 100%;
        overflow: auto
    }

    table th {
        font-weight: 600
    }

    table td, table th {
        padding: 6px 13px;
        border: 1px solid #dfe2e5
    }

    table tr {
        background-color: #fff;
        border-top: 1px solid #c6cbd1
    }

    table tr:nth-child(2n) {
        background-color: #f6f8fa
    }

    table img {
        background-color: transparent
    }
  }
}
