/* Always show tip */
.tooltipped-sticky {
  &::before,
  &::after {
    display: inline-block !important;
    opacity: 1 !important;
  }

  &.tooltipped-multiline {
    &::after {
      display: table-cell !important;
      opacity: 1 !important;
    }
  }
}