.comments {
  .sub-title {
    font-size: 18px;
    .fas { font-size: 28px; margin-right: 8px; }
  }
  .comment {
    margin-bottom: 15px;

    .info {
      margin-bottom: 8px;
      .user-name { color: #333; }
      .time a { color: #ccc; margin-left: 5px; }

      .opts {
        font-size: 14px;
        display: block;
        color: #555;

        & > a { width: 20px; height: 20px; margin-left: 5px; display: inline-block; text-align: center; }
        & > a:hover,
        summary > .fas:hover
        .details-overlay[open] .fas {
          color: #555 !important;
        }
        & > a,
        summary > .fas,
        & > .fas { color: #ccc; }

        .add-reaction-popover.dropdown-menu-ne {
          left: -2px;
        }

        .add-reaction-btn {
          padding: 0;
          border: 0;
          display: inline-block;
          float: none;
          margin-right: 0;

          i.fas { color: #ccc; }
          &:hover {
            .fas { color: #555 !important; }
          }
        }
      }
    }

    &:hover {
      .opts {
        display: block;
      }
    }

    .markdown-body {
      .heading-anchor { display: none; }
    }

    .in-reply-to {
      margin-bottom: 10px;
      border-radius: 3px;
      background: rgba(241, 245, 250, 0.68);
      padding: 8px 15px;
      font-size: 14px;

      .in-reply-link {
        color: #666;
        display: block;

        .user-name { color: #333; font-weight: bold; }
        .comment-id { color: #333; }
      }
    }

    .reaction-box-empty { display: none; }
  }
}

#comment-watch-box {
  .watch-button-group {
    height: 30px;
    line-height: 30px;
    color: #999;

    p { display: inline; }
    .btn { margin-left: 5px; }
  }
}

.comments .comment,
#new_comment {
  position: relative;
  margin-bottom: 15px;
  padding: 8px;
  padding-left: 53px;

  .avatar-box {
    position: absolute;
    top: 10px;
    left: 8px;
  }
}

#new_comment {
  padding: 0px;
  .avatar-box {
    display: none;
  }
}

@media (min-width: 768px) {
  #new_comment {
    padding: 8px;
    padding-left: 53px;

    .avatar-box { display: block; }
  }
}

#new_comment {
  margin-bottom: 20px;
  textarea.form-control { height: 100px; min-height: 50px; }

  .form-group { margin-top: 0; }
  .form-actions {
    .btn { float: left; }

    .in-reply-info {
      float: left;
      margin-top: 6px;
      margin-left: 10px;
      color: #999;

      .user-name { color: #333; font-weight: bold; }
      .comment-id { color: #333; }

      .close {
        color: #333; margin-left: 6px;
      }
    }
  }

}