.page-dashboards {
  .footer {
    display: none;
  }

  .sub-title {
    border-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    color: $text-main;
  }

  .dashboard-section {
    margin-bottom: 40px;
  }

  // card layout style
  .cards-container {
    margin-left: -20px;
    margin-right: -20px;
    .card {
      float: left;
      width: 100%;
      @include breakpoint(md) {
        margin: 0 30px 20px 0;
        width: calc(50% - 30px);
      }
    }
  }

  // list layout style
  .list-container {
    .list-item {
      .description {
        margin-bottom: 15px;
      }
      .action {
        a span {
          display: none;
        }
      }
    }
  }

  // left menu
  .dashboard-menu {
    display: none;
    width: 100%;
    height: 100%;
    font-size: 14px;
    @include breakpoint(lg) {
      display: block;
    }
  }

  .list-item {
    .btn {
      border: 0;
      background: transparent;
    }
  }
}

// activity styles
.activity-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 47px;
  .avatar-box {
    position: absolute;
    top: 6px;
    left: 0;
    .avatar {
      width: 32px;
      height: 32px;
    }
  }
  .infos {
    font-size: 14px;
    color: $text-gray-light;
    a {
      color: $text-main
    }
    .time {
      font-size: 12px;
    }
  }
  .detail {
    padding-top: 10px;
  }

  .doc-card {
    .doc-title {
      font-weight: normal;
    }
    .desc {
      font-weight: normal;
      color: $text-gray;

      a {
        color: $text-gray-dark;
      }
    }
  }
}

.more-button {
  button {
    font-size: 14px;
    color: $text-main;
    border: none;
    padding: 5px 0;
    box-shadow: none;
  }
}

.user-card {
  position: relative;
  padding-left: 47px;
  font-size: 13px;
  .user-display-name {
    color: $text-main;
    margin-right: 5px;
  }
  .user-name {
    color: $text-gray;
  }
}
.doc-card {
  .doc-title {
    color: $text-main;
    margin-right: 5px;
  }
}
.repository-card {

}