.page-dashboards {
  .main-container {
    padding: 30px 0;
  }

  .footer {
    display: none;
  }

  .sub-title {
    border-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    color: #111;
  }
  
  .dashboard-section {
    margin-bottom: 40px;
  }

  // hack card style
  .cards-container {
    margin-left: -20px;
    .card {
      float: left;
      margin: 0 30px 20px 0;
      width: calc(50% - 30px);
      &.card-avatar {
        padding-left: 67px;
      }
    }

    .list-container {
      width: 550px;
    }
  }


  // left menu
  .dashboard-menu {
    display: none;
    width: 100%;
    height: 100%;
    font-size: 14px;
    .dashboard-menu-item {
      line-height: 20px;
      display: block;
      color: #111;
      text-decoration: none;
      margin-bottom: 10px;
      &.last {
        margin-bottom: 30px;
      }
      i.fas {
        color: #979797;
        margin-right: 5px;
      }
      &.selected, &:hover {
        color: $themeColor;
        i.fas {
          color: inherit;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .dashboard-menu {
      display: block;
    }
  }

  .dashboard-repos,
  .dashboard-groups {
    .recent-repo-item,
    .recent-group-item {
      width: 100%;
      min-width: 300px;
      overflow: hidden;
      margin-bottom: 15px;

      .Box-body {
        border: 0;
      }

      .title {
        height: 22px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 15px;
        margin-bottom: 10px;

        .fas { color: #999; }
        a { color: #555; font-weight: bold; }
      }

      .description {
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
      }

      .info { color: #aaa; }
      .info span { margin-right: 5px; }
      .info span.time { margin-right: 0; float: right;}
    }

    @media (min-width: 768px) {
      .recent-repo-item,
      .recent-group-item {
        width: 47%;
        margin-right: 15px;
      }
    }

    @media (min-width: 1012px) {
      .recent-repo-item,
      .recent-group-item {
        width: 32%;
      }
    }
  }
}
