.page-users, .page-group_members, .page-group_settings, .page-groups {
  .group-heading {
    padding-top: 30px;
    background: #F9F9F9;
    .heading {
      margin: 40px 0 20px 0;
      .group-title { font-size: 20px; }
    }
  }
  
  .group-members {
    .group-member {
      position: relative;
  
      .avatar-box {
        width: 50px;
      }
  
      .member-actions {
        position: absolute;
        top: 2px;
        right: 0px;
      }
    }
  }
  
}
