.page-users, .page-group_members, .page-group_settings, .page-groups {
  .group-heading {
    padding-top: 30px;
    background: #F9F9F9;
    .heading {
      margin: 40px 0 20px 0;
      .group-title { font-size: 20px; }
    }
  }
  .list-col-2 .list-item {
    width: calc(50% - 40px);
    &:nth-child(2n + 1) {
      margin-right: 80px;
    }
  }
}
