.nav-header {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 99;
  background: #fff;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.1);
  .header-content {
    max-width: 1000px;
    padding: 0 25px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
  }
  .logo {
    font-size: 15px;
    color: $text-main;
    a {
      color: inherit;
    }
  }
  .dropdown {
    margin-left: 20px;
  }
  .nav-notifications {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
  .dropdown-menu {
    font-size: 14px;
    line-height: 1.5;
    color: $text-main;
  }
  .avatar { 
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }
  .search {
    display: none;
    @include breakpoint(sm) {
      display: block;
    }
  }
}
