.page-issues {
  .issue-heading {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;

    h1 {
      font-size: 18px;
      margin-bottom: 13px;

      .issue-iid {
        color: $text-gray;
        margin-left: 4px;
      }
    }
  }
  .issue-box {
    .issue-status {
      margin-right: 10px;

      @extend .label;
      @extend .label-success;

      &.issue-status-closed {
        @extend .label-danger;
      }
    }
  }

  .issuenav {
    float: left;
    margin-left: 15px;
    .issuenav-item {
      padding: 5px 5px 8px;
      font-size: 14px;
      margin: 0 2px;
      text-decoration: none;
      color: $primary;
      position: relative;
      &.selected {
        color: $text-main;
        border-bottom: 1px solid $text-main;
      }
    }
  }

  .issue-list {
    .issue {
      position: relative;
      padding: 12px 20px;
      padding-left: 42px;
      line-height: 1.4;
      list-style: none;
      position: relative;
      @extend .card-box;

      .info {
        margin-top: 8px;
        color: $text-gray;
      }

      &.issue-closed {
        .issue-status {
          .fas {
            color: $danger;
          }
        }
      }

      .assignees {
        float: right;

        .user-avatar {
          margin-left: 2px;
        }
      }

      .issue-status {
        position: absolute;
        top: 13px;
        left: 20px;
        width: 24px;
        .fas {
          color: $green;
        }
      }
      .counter {
        position: absolute;
        top: 13px;
        right: 20px;
        color: $text-gray;
      }
    }
  }

  .issue-sidebar {
    padding-left: 30px;

    .sidebar-box {
      margin-bottom: 30px;
      .sub-title {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    .user-avatar-link {
      margin-right: 5px;
    }
  }
}
