.page-dashboards {
  @media (max-width: 767px) {
    .main-container {
      flex: auto;
    }
    // left aside layout
    .aside-wrap {
      width: 100%;
    }
    // right main layout
    .main-wrap {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .main-container {
      display: flex;
      flex: auto;
      justify-content: center;
    }
    // left aside layout
    .aside-wrap {
      min-width: 300px;
      .aside-content {
        width: 300px;
        margin: 0 0 0 auto;
      }
    }
    // right main layout
    .main-wrap {
      flex: auto;
      .main-content {
        margin: 0 auto 0 0;
      }
    }
  }
  
  @media (min-width: 1012px) {
    // left aside layout
    .aside-wrap {
      flex: auto;
    }
    // right main layout
    .main-wrap {
      min-width: 700px;
      .main-content {
        width: 700px;
        margin: 0 auto 0 0;
      }
    }
  }
}
