.main-container {
  width: 100%;
  flex: auto;
  margin: auto;
  max-width: 1080px;
  padding: 30px 25px;
  @include breakpoint(md) {
    display: flex;
    justify-content: center;
  }
}
// left aside layout
.aside-wrap {
  width: 100%;
  .aside-content {
    width: inherit;
  }
  @include breakpoint(md) {
    width: 255px;
  }
}
// right main layout
.main-wrap {
  width: 100%;
  @include breakpoint(md) {
    width: 0;
    flex: auto;
    .main-content {
      width: 100%;
    }
  }
}

.container {
  width: 100%;
  padding: 0 25px;
  @include breakpoint(md) {
    width: 1000px;
  }
  margin: 0 auto;
}