.notification-group {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }

  .group-title {
    font-size: 14px;
    color: #a0a0a0;
  }
}

.page-notifications {
  .sub-title {
    button,
    a {
      font-weight: normal;
    }
  }
}