.page-repositories,
.page-repository_settings {
  .repo-heading {
    text-align: center;
    .heading {
      margin: 40px 0 20px 0;
      .group-name {
        font-size: 16px;
        color: $text-gray;
      }
      .repo-name {
        color: $text-main;
        font-size: 35px;
      }
    }
    h1 {
      font-size: 20px;
    }
  }

  .repo-actions {
    line-height: 30px;
    @extend .icon-middle-wrap;
    .btn-create-doc {
      @extend .icon-middle-wrap;
      .fas {
        transform: scale(1.4);
      }
    }
    .btn, .social-count {
      height: auto;
      padding: 0;
      border: none;
      background: transparent;
    }
    .social-count {
      font-style: normal;
    }
    .btn-create-doc:hover,
    .action-button a:hover {
      background: #f7f7f7;
    }

    .btn-create-doc,
    .action-button a.btn {
      margin: 0 10px;
      padding: 0px 5px;
      border-radius: 15px;
      .fas {
        width: 30px;
        float: left;
        line-height: 30px;
      }
      span { padding: 0 5px; }
      .social-count { margin-left: 5px; margin-top: -2px;}
      span,.social-count {
        @extend .icon-middle-wrap;
        font-size: 14px;
        line-height: 30px
      }
    }
  }

  .repo-description {
    margin-bottom: 20px;
    font-size: 16px;
    height: 24px;
    overflow: hidden;
  }

  .repository-docs, .repo-toc {
    @include breakpoint(md) {
      width: 800px;
      margin: 0 auto;
    }
    .doc-item .title {
      width: 100%;
      padding-right: 70px;
    }
  }
  .repo-toc {
    font-size: 16px;
    text-align: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;

    .toc-header {
      position: relative;

      .title {
        padding-bottom: 12px;
        text-align: center;
        color: #252525;
        font-size: 24px;
      }

      .description {
        font-size: 13px;
        color: #8a8a8a;
      }

      .edit-link {
        font-size: 14px;
        @extend .icon-middle-wrap;
        .fas {
          transform: scale(1.1);
        }
      }
    }

    .toc-list {
      text-align: left;
      ul {
        .hidden {
          display: none;
        }
        li {
          list-style: none;
          line-height: 18px;
          padding: 10px 0;
          position: relative;
          display: flex;
          justify-content: space-between;
          .fa-arrow {
            cursor: pointer;
            position: absolute;
            left: -20px;
            top: 13px;
            font-size: 12px;
          }
          &:after {
            content: " ";
            width: 100%;
            border-bottom: 1px solid #e8e8e8;
            position: absolute;
            top: 50%;
            right: 0;
          }
          .item-slug,
          .item-link {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 18px;
            position: relative;
            z-index: 1;
            background: #FFF;
          }
          .item-link {
            padding-right: 15px;
            font-size: 15px;
            min-width: 0;
            max-width: 70%;
            color: #000;
          }
          .item-slug {
            padding-left: 15px;
            min-width: 0;
            max-width: 30%;
            font-size: 13px;
            color: $gray;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .repo-toc {
      .toc-list {
        width: 100%;
        margin: 30px auto;
      }
    }
  }

  #repository-members {
    .repository-member {
      position: relative;
      .edit-member, .delete-member {
        position: absolute;
        top: 5px;
      }
      .edit-member {
        right: 100px;
        margin: 0;
        .select-menu-modal {
          position: absolute;
          left: 0;
          top: 39px;
          z-index: 99;
          width: 200px;
        }
        summary.select-menu-button {
          text-align: left;
        }
      }
      .delete-member {
        top: 10px;
        right: 10px;
      }
    }
  }
  .transfer-docs {
    .docs-list{
      max-height: 390px;
      overflow-y: scroll;
      border: 1px solid #e0e0e0;
      padding: 0 20px;
      .form-checkbox {
        width: 15px;
        height: 15px;
      }
      .box-row {
        padding-top: 20px;
        padding-bottom: 15px;
        margin-bottom: 0;
      }
    }
    .box-select {
      width: 310px;
      .btn {
        text-align: left;
      }
    }
  }
}
