.page-repositories,
.page-repository_settings {
  .repo-heading {
    padding-top: 30px;
    background: #F9F9F9;
    .heading {
      margin: 40px 0 10px 0;
    }
    h1 {
      font-size: 20px;
      i.fas {
        font-size: 20px;
        color: #303030;
      }
    }
  }

  .repo-actions {
    line-height: 30px;
    @extend .icon-middle-wrap;
    .btn-create-doc {
      @extend .icon-middle-wrap;
      .fas {
        transform: scale(1.2);
        margin-right: 8px;
      }
    }
    .btn, .social-count {
      height: auto;
      padding: 0;
      border: none;
      background: transparent;
    }
    .social-count {
      margin-right: 40px;
    }
    a:hover {
      border-radius: 15px;
      background: #f7f7f7;
      // star、unstar、watch、unwatch
      &.btn span {
        opacity: 1;
        max-width: 10em;
        padding-left: 15px;
      }
    }
    a.btn {
      .fas {
        width: 30px;
        float: right;
        line-height: 30px;
      }
      span {
        @extend .icon-middle-wrap;
        font-size: 12px;
        line-height: 30px;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-width .4s linear, padding .4s linear, opacity 1s ease;
      }
    }
  }

  .repo-description {
    margin-bottom: 20px;
    font-size: 16px;
    height: 24px;
    overflow: hidden;
  }

  .toc-items {
    @for $i from 0 through 4 {
      .toc-item-#{$i} {
        .item-title {
          margin-left: ($i * 14px) !important;
        }
      }
    }
  }
  .repository-docs, .repo-toc {
    @include breakpoint(md) {
      width: 800px;
      margin: 0 auto;
    }
    .doc-item .title {
      width: 100%;
      padding-right: 70px;
    }
  }
  .repo-toc {
    font-size: 16px;
    text-align: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;

    .toc-header {
      position: relative;

      .title {
        padding-bottom: 12px;
        text-align: center;
        color: #252525;
        font-size: 24px;
      }

      .description {
        font-size: 13px;
        color: #8a8a8a;
      }

      .edit-link {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 14px;
        @extend .icon-middle-wrap;
        .fas {
          transform: scale(1.1);
        }
      }
    }
    
    .toc-list {
      text-align: left;
      ul {
        li {
          list-style: none;
          line-height: 18px;
          padding: 10px 0;
          position: relative;
          display: flex;
          justify-content: space-between;

          @extend .clearfix;

          &:after {
            content: " ";
            width: 100%;
            border-bottom: 1px dashed #e8e8e8;
            position: absolute;
            top: 50%;
            right: 0;
          }

          a {
            text-decoration: none;
          }

          .item-slug,
          .item-link {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 18px;
          }

          .item-link {
            position: absolute;
            background: #FFF;
            padding-right: 15px;
            font-size: 15px;
            z-index: 1;
            min-width: 0;
            max-width: 70%;
            color: #555;
            &:hover {
              color: #222;
            }
          }

          .item-slug {
            position: relative;
            background: #fff;
            padding-left: 15px;
            z-index: 1;
            min-width: 0;
            max-width: 30%;
            font-size: 13px;
            color: #aaa;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .repo-toc {
      .toc-list {
        width: 100%;
        margin: 30px auto;
      }
    }
  }

  #repository-members {
    .repository-member {
      position: relative;
      .edit-member, .delete-member {
        position: absolute;
        top: 5px;
      }
      .edit-member {
        right: 100px;
        margin: 0;
        .select-menu-modal {
          position: absolute;
          left: 0;
          top: 39px;
          z-index: 99;
          width: 200px;
        }
        summary.select-menu-button {
          text-align: left;
        }
      }
      .delete-member {
        top: 10px;
        right: 10px;
      }
    }
  }

  .export-repository-pdf, .export-repository-archive, .advanced-transfer {
    margin-bottom: 100px;
  }


  .transfer-docs {
    .docs-list{
      max-height: 390px;
      overflow-y: scroll;
      border: 1px solid #e0e0e0;
      padding: 0 20px;
      .form-checkbox {
        width: 15px;
        height: 15px;
      }
      .box-row {
        padding-top: 20px;
        padding-bottom: 15px;
        margin-bottom: 0;
      }
    }
    .box-select {
      width: 310px;
      .btn {
        text-align: left;
        text-indent: 8px;
      }
    }
  }
}
