.search-results {
  .blankslate {
    background: #fff;
    border-color: #fff;
  }
  .list-item {
    .time-box {
      top: 40px;
    }
    .description img{
      width: 100% !important;
      height: auto !important;
    }
  }
}