.page-users, .page-account_settings {
  .user-title {
    text-align: center;
    @include breakpoint(md) {
      display: none;
    }
  }

  .aside-wrap {
    @include breakpoint(md) {
      width: 270px;
      margin-right: 50px;
    }
  }

  .user-sidebar {
    padding: 30px 20px;
    background: #F9F9F9;
  }

  .user-follow .btn {
    width: 110px;
    background: transparent;
    margin: 0 auto 20px;
  }
  .user-avatar-box {
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
  }

  .user-name-box {
    font-size: 12px;
    .real-name {
      text-align: center;
      display: block;
      font-size: 20px;
      color: $text-main;
    }
    .user-name {
      text-align: center;
      margin-bottom: 20px;
    }
    .user-bio {
      margin-bottom: 10px;
      white-space: normal;
    }
    .location, .created-on {
      .fas {
        vertical-align: baseline;
        margin-right: 5px;
        transform: scale(1.2);
      }
    }
    .location {
      width: 90%;
      margin-bottom: 4px;
    }
    .created-on {
      margin-bottom: 30px;
    }
  }
  .user-groups {
    line-height: 1;
    display: none;
    margin-bottom: 30px;
    @include breakpoint(md) {
      display: flex;
    }
    .group-label {
      line-height: 20px;
    }
    .groups-box {
      flex: auto;
      .user-avatar {
        display: inline-block;
        margin: 0 4px 8px 0;
      }
    }
  }

  .user-avatar-box,
  .user-name-box,
  .followers,
  .following,
  {
    display: none;
    @include breakpoint(md) {
      display: block;
    }
  }


  .user-followers, .user-following {
    .user-item .info {
      padding-right: 150px;
      width: 100%;
      font-size: 12px;
    }
    .action {
      opacity: 1;
      top: auto;
      bottom: 19.5px;
      .btn {
        min-width: 7em;
        border-radius: 3px;
      }
    }
  }

  .dashboard-section {
    margin-bottom: 40px;
  }

  .user-overview {
    // card layout style
    .cards-container {
      margin-bottom: 40px;
      .card {
        float: left;
        width: 100%;
        margin-bottom: 30px;
      }
      @include breakpoint(md) {
        margin-right: -30px;
        .card {
          margin-right: 30px;
          width: calc(50% - 30px);
        }
      }
    }
  }
}