<% if current_page.last? %>
  <span class="next_page disabled"><%= icon_tag("right") %></span>
<% else %>
  <%= link_to icon_tag("right"), url, class: "next_page", rel: 'next', remote: remote %>
<% end%>
