<% if current_page.last? %>
  <span class="next_page disabled"><i class="fas fa-right"></i><span class="text">Next</span></span>
<% else %>
  <%= link_to raw('<i class="fas fa-right"></i><span class="text">Next</span>'), url, class: "next_page", rel: 'next', remote: remote %>
<% end%>
