<% if current_page.first? %>
  <span class="previous_page disabled"><%= icon_tag("left") %></span>
<% else %>
  <%= link_to icon_tag("left"), url,class: "previous_page", rel: 'prev', remote: remote %>
<% end %>
