<% if current_page.first? %>
  <span class="previous_page disabled"><i class="fas fa-left"></i><span class="text">Prev</span></span>
<% else %>
  <%= link_to raw('<i class="fas fa-left"></i><span class="text">Prev</span>'), url,class: "previous_page", rel: 'prev', remote: remote %>
<% end %>
