
.doc-item-drageable {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  background: #FFF;
  border: 1px solid #F2F2F2;
  padding: 8px 13px;
  line-height: 20px;
  border-bottom: 1px solid #f0f0f0;
  padding-right: 34px;
  position: relative;

  &:first-child { border-radius: 3px 3px 0 0; }
  &:last-child { border-radius: 0 0 3px 3px; }

  &.new {
    margin-bottom: 8px;
    border-radius: 3px;
    font-weight: bold;
    .opts {
      display: block;
    }
  }

  .slug {
    color: $text-gray-light;
    font-size: 12px;
    margin-top: 4px;
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
  }

  .opts {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    display: none;
    color: $text-gray;
    cursor: pointer;
    &:hover { 
      color: $primary;
      background: #F7F7F7;
    }
  }

  &:hover {
    .opts { display: block; }
  }
}
