@import './toc.scss';
@import './doc.scss';

.editor-body {

  .main-container,
  .container {
    display: block;
    flex: none;
    width: auto;
    margin: 0;
    padding: 0;
  }
}

.toc-form {
  width: 100%;
  background: #FFF;
  width: 100%;

  .toc-navbar {
    height: 64px;
    line-height: 64px;
    background: #fff;
    border: 0;
    box-shadow: 0px 1px 0px 0px rgb(242, 242, 242), 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 9;

    .navbar-brand {
      font-size: 24px;
      margin-right: 10px;
      vertical-align: middle;
      display: inline-block;
    }

    .navbar-title {
      padding-left: 24px;

      a {
        color: #333;
      }

      .divider {
        color: #bbb;
        margin: 0 5px;
      }
    }

    .navbar-buttons {
      position: absolute;
      top: 50%;
      right: 15px;
      text-align: right;
      transform: translateY(-50%);
      text-align: center;
      line-height: 100%;

      .dropdown {
        display: flex;
        .btn {
          vertical-align: unset;
        }
      }

      .btn {
        margin-left: 5px;
        border: 0;
      }

      .btn-primary {
        background: none;
        box-shadow: none;
      }

      .dropdown-menu {
        text-align: left;
        right: 5px;
        top: 110%;
      }
    }
  }
}

.toc-keyboard-tip {
  table {
    td {
      padding: 4px;
      line-height: 1.5;
    }
  }

  .fas {
    font-size: 18px;
  }

  code {
    font-family: Helvetica, Arial;
    font-size: 13px;
    background: #3f3f3f;
    color: #FFF;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    min-width: 48px;
    padding: 0px 8px;
    height: 25px;
    line-height: 26px;
    overflow: hidden;
    vertical-align: middle;
  }
}

.toc-editor-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.toc-editor {
  padding: 30px 0;
  max-width: 990px;
  margin: auto;
  height: 100%;

  .doc-list {
    overflow-y: scroll;
    position: sticky;
    top: 94px;
    padding: 20px;
    background: #F9F9F9;
    width: 250px;
  }

  .toc-list {
    margin-left: 20px;
    padding: 14px;
    height: 100%;
    overflow-y: scroll;
  }
}