@import "../mixin";

.sorting .folder {
  transform: rotate(-90deg);
}

.toc-edit-item {
  position: relative;
  list-style: none;
  line-height: 45px;
  height: 45px;
  font-size: 14px;
  background: #FFF;
  padding: 0 20px;
  border: 1px solid #F2F2F2;
  margin-bottom: 10px;
  -webkit-touch-callout: none;
  user-select: none;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  cursor: move;
  &:first-child { border-radius: 3px 3px 0 0; }
  &:last-child { border-radius: 0 0 3px 3px; }
  &.active {
    border-color: #333333;
    .form-edit {
      pointer-events: auto;
    }
  }

  .fa-caret {
    color: #aaa;
    font-size: 12px;
  }

  .folder {
    position: absolute;
    left: 10px;
    font-size: 14px;
    color: #333;
    transition: all .2s ease;
    transform-origin: center;
    display: none;
    &.show {
      display: block;
    }
    &.rotate {
      transform: rotate(-90deg);
    }
  }

  .cell-wrap {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      .btn-action {
        visibility: visible;
        z-index: 2;
      }
    }
  }

  .form-edit {
    min-width: 60px;
    width: 45%;
    border: 0px;
    @extend .text-overflow;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 8px;
    height: 26px;
    padding: 0;
    line-height: 26px;
    background: transparent;
    &[readonly] {
      border-color: transparent;
      color: #999;
      &:focus {
        color: #999;
      }
    }
    &:focus {
      outline: none;
      color: #333;
    }
  }

  .title {
    color: #555;
    float: left;
    text-align: left;
  }
  .slug {
    float: right;
    text-align: right;
    color: #999;
    font-size: 12px;
  }
  .btn-action {
    position: absolute;
    color: #777;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    &:hover {
      color: #333;
    }
    &:active {
      color: #000;
    }
  }
  .btn-edit {
    visibility: hidden;
  }
}
