.nav-notifications {
  text-decoration: none !important;
}

.form-title {
  color: #777;
  padding: 0px 0 15px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;

  h2 {
    color: #333;
    font-size: 20px;
    font-weight: normal;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.subnav {
  background: #FFF;

  .nav-tabs:last-child {
    margin-bottom: -1px;
  }

  .nav-tabs {
    .nav-link {
      padding: 10px 15px;
      font-size: 15px;
      margin-right: 15px;
      border: 0px;
      border-bottom: 2px solid transparent;
    }
    .nav-link.active {
      border-bottom-color: $primary;
    }
  }
}

.divider { color: #aaa; font-weight: normal; margin-left: 2px; margin-right: 2px; }

.repo-heading {
  margin-top: 20px;

  h1 {
    a { color: #303030; }
    .path-divider { color: #d0d0d0;}

    i.fas {
      font-size: 16px;
      color: #303030;
    }
  }
}

.repo-description {
  margin-bottom: 20px;
  font-size: 16px;
  height: 24px;
  overflow: hidden;
}

.toc-items {
  .toc-item {
  }

  @for $i from 0 through 4 {
    .toc-item-#{$i} {
      .item-title {
        margin-left: ($i * 21px) !important;
      }
    }
  }
}

.doc-sidebar {
  @for $i from 0 through 4 {
    .toc-item-#{$i} {
      .item-title {
        margin-left: ($i * 12px) !important;
      }
    }
  }
}

.repo-toc {
  font-size: 16px;
  text-align: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;

  .toc-header {
    position: relative;

    .title {
      padding-bottom: 12px;
      text-align: center;
      color: #252525;
      font-size: 24px;
    }

    .description {
      font-size: 13px;
      color: #8a8a8a;
    }

    .edit-link {
      position: absolute;
      top: 0;
      right: 0;
      color: #505050;
      vertical-align: bottom;
      font-size: 14px;

      .octicon {
        width: 14px;
        height: 14px;
      }
    }
  }

  .toc-list {

    text-align: left;

    ul {
      li {
        list-style: none;
        line-height: 18px;
        padding: 10px 0;
        position: relative;
        display: flex;
        justify-content: space-between;

        @extend .clearfix;

        &:after {
          content: " ";
          width: 100%;
          border-bottom: 1px dashed #e8e8e8;
          position: absolute;
          top: 50%;
          right: 0;
        }

        a {
          text-decoration: none;
        }

        .item-slug,
        .item-link {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 18px;
        }

        .item-link {
          position: absolute;
          background: #FFF;
          padding-right: 15px;
          font-size: 15px;
          z-index: 1;
          min-width: 0;
          max-width: 70%;
          color: #555;
          &:hover {
            color: #222;
          }
        }

        .item-slug {
          position: relative;
          background: #fff;
          padding-left: 15px;
          z-index: 1;
          min-width: 0;
          max-width: 30%;
          font-size: 13px;
          color: #aaa;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .repo-toc {
    padding: 40px;
    border: 1px solid rgba(225, 228, 232, 0.51);

    .toc-list {
      width: 100%;
      max-width: 700px;
      margin: 30px auto;
    }
  }
}


.repository-card {
  padding: 15px;
  a.repository-name { color: #444; font-size: 16px; }
  .desc { font-size: 13px; }

  .counter {
    margin-right: 15px;

    .octicon {
      fill: #666;
    }
  }
}

.repository-item {
  position: relative;
  padding-left: 45px;
  .icon-box {
    position: absolute;
    top: 14px;
    left: 15px;
    color: #a0a0a0;
    font-size: 20px;
  }

  .counter {
    margin-right: 8px;

    .octicon {
      fill: #666;
    }
  }
}

.user-card {
  position: relative;


  .avatar-box {
    position: absolute;
    top: 16px;
    left: 10px;

    .avatar { width: 40px !important; height: 40px !important; }
  }

  .infos {
    padding-left: 45px;
  }

  .user-display-name { font-weight: bold; color: #333; margin-right: 5px; }
  .user-name { font-weight: normal; color: #666; }
}

.activity-item {
  position: relative;

  & > .avatar-box {
    position: absolute;
    top: 12px;
    left: 0;
    .avatar { width: 32px !important; height: 32px !important; }
  }

  & > .infos { padding-left: 40px; }
  .time { margin-left: 3px; font-size: 13px; color: #aaa; }
  .info {
    color: #a0a0a0;
    a { color: #333; }
  }
  .detail {
    padding-top: 10px;
  }
}

.doc-card {
  padding: 15px;
  a.doc-link { color: #444; font-size: 16px; }
  .desc {
    font-size: 13px;
    a { color: #666; }
  }

  .counter {
    margin-right: 15px;

    .octicon {
      fill: #666;
    }
  }
}
