.group-heading {
  .group-title { font-size: 25px; }
  .avatar-medium { width: 38px; height: 38px; }
}

.group-members {
  .group-member {
    position: relative;

    .avatar-box {
      width: 50px;
    }

    .member-actions {
      position: absolute;
      top: 2px;
      right: 0px;
    }
  }
}