.notification-group {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }

  .group-title {
    font-size: 14px;
    color: #a0a0a0;
  }
}

.notification {
  position: relative;
  border-bottom: 1px solid #e0e0e0;

  &:last-child {
    border-bottom: 0;
  }
  padding: 12px;
  padding-left: 40px;

  a {
    color: #444;

    &:hover {
      color: #222;
      text-decoration: none;
    }
  }

  &.unread {
    a { font-weight: bold; }
  }

  .info { color: #999; }

  & > .avatar-box {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  .time-box { float: right; color: #aaa; font-size: 12px; }
}