.reaction-box {
  form { margin-bottom: 0; }
  .new_reaction { float: left; }
  .dropdown-menu {
    .new_reaction { float: none; }
  }
  .emoji { vertical-align: middle; display: inline-block; width: 18px; height: 18px; margin-right: 3px; }

  .reaction-summary-item {
    border: 0;
    padding: 6px 6px;
    margin-right: 2px;
    color: #444;
    display: inline-block;
    border-radius: 3px;

    &.selected {
      background: rgba(190, 211, 240, 0.23);
    }
  }

  .add-reactions-options-item {
    display: inline-block;
  }

  .add-reaction-popover.dropdown-menu {
    width: 260px;
  }

  .add-reaction-btn {
    color: #aaa;
    i.fas { vertical-align: middle; font-size: 18px; }
    i.fa-plus { font-size: 10px; }
  }

  &:hover {
    .add-reaction-btn {
      opacity: 1;
    }
  }
}