.search-results {
  .blankslate {
    background: #fff;
    border-color: #fff;
  }

  .search-result {
    padding: 20px 5px;
    border-bottom: 1px solid #eaeaea;

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0px solid #eaeaea;
    }

    .title {
      font-size: 16px;
      margin-bottom: 0px;
    }

    .info {
      color: #aaa;
      .parent-name { color: #006b00; }
      a { color: #006b00;}
      .slug { color: #666; }
      margin-bottom: 5px;
    }

    .description {
      font-size: 14px;
      color: #555;

      img { width: 100% !important; height: auto !important; }
    }
  }

  .search-result-user {
    padding-left: 60px;
    position: relative;

    .avatar-box {
      position: absolute;
      top: auto;
      left: 0;
    }
  }
}