.page-users {
  .user-groups {
    .user-avatar {
      display: inline-block;
      margin-bottom: 8px;
    }
  }

  .user-title {
    display: block;
    padding: 15px;
    line-height: 32px;
    font-size: 18px;
    margin-top: 15px;
    padding-bottom: 0px;

    text-align: center;

    a { color: #333; }
  }

  @media (min-width: 1012px) {
    .user-title {
      display: none;
    }
  }

  .user-sidebar {
    display: none !important;
  }

  @media (min-width: 1012px) {
    .user-sidebar {
      display: table-cell !important;
    }
  }

  .user-item {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;

    .avatar-box {
      display: none;
      position: absolute;
      top: 15px;
      left: 0;
    }

    .actions {
      float: right;
    }

    .user-avatar { display: inline-block; }
    .user-display-name { color: #333; font-weight: bold; }
    .user-name { color: #666; }
  }


  @media (min-width: 768px) {
    .user-item {
      padding-left: 64px;
      .avatar-box { display: block; }
    }
  }
}