.blankslate {
  color: #555;
  font-size: 14px;
  text-align: left;
  padding: 10px 0;

  h2,
  h3 {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
  }

  a {
    color: $text-gray-dark;
  }

  &.no-data {
    padding-top: 260px;
    background-size: auto 210px;
    background-position: center 20px;
    background-repeat: no-repeat;
    text-align: center;
    /*
      SVG from:
      https://undraw.co/search

      use color: #2F70FF
    */

    &.no-doc {
      background-image: url("~images/nodata/doc.svg");
    }
    &.no-repo {
      background-image: url("~images/nodata/repo.svg");
    }
    &.no-group {
      background-image: url("~images/nodata/group.svg");
    }
    &.no-empty {
      background-image: url("~images/nodata/empty.svg");
    }
    &.no-activity {
      background-image: url("~images/nodata/activity.svg");
    }
    &.no-follow {
      background-image: url("~images/nodata/follow.svg");
    }
    &.no-result {
      background-image: url("~images/nodata/result.svg");
    }
    &.not-found {
      background-image: url("~images/nodata/not-found.svg");
    }
    &.no-star-doc {
      background-image: url("~images/nodata/empty.svg");
    }
    &.no-star-repo {
      background-image: url("~images/nodata/star.svg");
    }
    &.no-note {
      background-image: url("~images/nodata/note.svg");
    }
    &.no-timeline {
      background-image: url("~images/nodata/timeline.svg");
    }
    &.no-issue {
      background-image: url("~images/nodata/issue.svg");
    }
    &.no-todo {
      background-image: url("~images/nodata/todo.svg");
    }
  }
}
