.reponav {
  margin-left: -10px;
  .reponav-item {
    padding: 10px 10px 15px;
    font-size: 14px;
    margin: 0 15px;
    text-decoration: none;
    color: $primary;
    font-weight: bold;
    position: relative;
    &.selected {
      color: $text-main !important;
      border-bottom: 2px solid $text-main;
    }
  }
}
