.toc-tree {
  position: relative;

  .toc-items {
    font-size: 13px;
    @extend .list-style-none;
  }
  // edit-switch-component
  .edit-switch {
    position: absolute;
    right: -10px;
    top: -50px;
    span {
      vertical-align: middle;
    }
  }

  .btn-new {
    border: 1px solid #e5e5e5;
    padding: 4px 10px;
    text-align: left;
    color: $black;
    &:hover {
      color: $black !important;
      background: #f7f7f7;
    }
    &:active {
      background: #eaeaea;
    }
  }

  //
  .toc-items {
    font-size: 13px;
    @extend .list-style-none;
    .toc-item {
      position: relative;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.active {
        color: $primary;
      }
      &.drop-left::after {
        top: -1px;
        @extend .drop;
      }
      &.drop-right::after {
        bottom: -1px;
        @extend .drop;
      }
      &.drop-child {
        background: #E6EEFF;;
      }
      .fa-arrow {
        cursor: pointer;
        position: absolute;
        left: -16px;
        top: calc(50% - 6px);
        font-size: 12px;
      }
    }
  }
  .item-slug,
  .item-link {
    @extend .text-overflow;
    z-index: 1;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
  .item-link {
    font-size: 15px;
  }
  .item-slug {
    font-size: 13px;
  }
}

.drop {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: $primary;
}

.toc-tree-bottom-toolbar {
  margin-top: 15px;


}

.toc-tree-toolbar {
  @extend .card;
  @extend .card:hover;

  position: relative;

  .actions {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .fas {
    font-size: 16px;
  }

  .dropdown-menu {
    text-align: left;
    right: -9px;
    top: calc(100% - -1px);
  }
}

.toc-tree[data-edit-mode=true] {
  .toc-items {
    .toc-item {
      &:hover {
        background: #f7f7f7;
        .item-more {
          display: block;
        }
      }
      .item-more {
        display: none;
        margin: 0 5px;
        summary {
          border: 1px solid transparent;
          height: 20px;
          line-height: 20px;
          width: 20px;
          border-radius: 2px;
          text-align: center;
          vertical-align: middle;
          &:hover {
            background: #eee;
            border-color: #e0e0e0;
          }
        }
        .dropdown-item {
          display: block !important;
        }
      }
      details[open] {
        background: #f7f7f7;
        summary {
          background: #eee;
          border: 1px solid #e0e0e0 !important;
        }
      }
    }
  }
}

// doc page
.reader-body {
  .toc-tree {
    .item-slug {
      display: none;
    }
    .item-connect-line {
      display: none;
    }
  }
}

// repo page
.page-repositories {
  .toc-tree {
    text-align: left;
    .toc-item {
      margin: 5px 0;
    }
    .item-more {
      display: none;
    }
    .item-link {
      max-width: 70%;
    }
    .item-slug {
      max-width: 30%;
    }
    .item-connect-line {
      flex: 1;
      height: 1px;
      margin: 0 10px;
      background: #e8e8e8;
    }
  }
}
