.subnav {
  .subnav-sorting {
    float: right;
    color: #aaa;

    .btn-link {
      border-bottom: 1px solid transparent;
    }

    a.selected {
      &:hover {
        text-decoration: none;
      }
      border-bottom-color: #ddd;
    }
  }
}