<div class="blankslate no-data no-result">
  <h3><%= t(".No result") %></h3>
  <p><%= t(".Can not find any contents like") %> "<span class="text-red"><%= params[:q] %></span>" <%= t(".in BlueDoc") %></p>
</div>