<%
  title = item.name
  description = ""
  if hit.respond_to?(:highlight)
    title = hit.highlight.title if hit.highlight.title
    description = hit.highlight.body if hit.highlight.body
  end
%>

<div class="search-result search-result-repo">
  <div class="title"><%= link_to highlight(title), item.to_path, target: "_blank" %></div>
  <div class="info clearfix">
    <span class="parent-name">
      <%= item.user&.name %>
    </span>
  </div>
  <div class="description">
    <%= highlight description %>
  </div>
</div>