<div class="Box-header">
  <h3 class="Box-title">
    <%= t(".About") %> "<strong class="text-red"><%= params[:q] %></strong>" <%= raw t(".there have count results", count: @result.total_count) %> <strong><%= @result.total_count %></strong>
  </h3>
</div>