<div class="search-result search-result-user">
  <div class="title"><%= link_to highlight(hit.highlight.title || item.name), item.to_path, target: "_blank" %></div>
  <div class="info clearfix">
    <span class="parent-name">
      <%= item.slug %>
    </span>
  </div>
  <div class="description">
    <% if hit.highlight.body&.present? %>
      <%= highlight(hit.highlight.body) %>
    <% else %>
      <%= item.description %>
    <% end %>
  </div>
</div>