<%
  title = item.name
  description = item.description
  if hit.respond_to?(:highlight)
    title = hit.highlight.title if hit.highlight.title
    description = hit.highlight.body if hit.highlight.body
  end
%>
<div class="list-item list-avatar">
  <div class="avatar-box">
    <%= user_avatar_tag(item, style: :medium) %>
  </div>
  <div class="title text-overflow"><%= link_to highlight(title), item.to_path, target: "_blank" %></div>
  <div class="description"><%= item.slug %></div>
</div>