<div class="col-12 d-table">
  <%= render "menu" %>

  <div class="col-8 d-table-cell">

    <div class="search-results">
      <% if @result.records.blank? %>
      <div class="blankslate">
        Can't find any Repository like "<span class="text-red"><%= params[:q] %></span>" in our database.
      </div>
      <% end %>

      <% @result.records.each_with_hit do |item, hit| %>
        <div class="search-result">
          <%= render "/repositories/card", repository: item %>

        </div>
      <% end %>
      <%= paginate @result %>
    </div>
  </div>
</div>