<div class="col-12 d-table">
  <%= render "menu" %>

  <div class="col-8 d-table-cell">

    <div class="search-results">
      <% if @search_texts.blank? %>
      <div class="blankslate">
        Can't find any Repository like "<span class="text-red"><%= params[:q] %></span>" in our database.
      </div>
      <% end %>

      <% @search_texts.each do |item| %>
        <div class="search-result">
          <%= render "/repositories/card", repository: item.record %>

        </div>
      <% end %>
      <%= paginate @search_texts %>
    </div>
  </div>
</div>