<ul class="recent-docs Box">
  <% items.each do |item| %>
    <li class="recent-doc-item Box-row py-2">
      <div class="icon-box">
        <%= icon_tag "file-alt" %>
      </div>
      <div class="title">
        <%= doc_title_tag(item.subject) %>
      </div>
      <div class="info clearfix">
        <%= repository_path_tag(item.subject&.repository) %>

        <span class="ml-1 hide-sm float-right"><%= timeago item.updated_at %></span>
      </div>
    </li>
  <% end %>
</ul>
