<nav class="dashboard-menu col-2 d-table-cell">
<%= render_list_items(type: :link, class: "dashboard-menu-item", active_class: "selected") do |item|
  item << link_to(icon_tag("rss", label: "Dashboard"), "/", class: "dashboard-menu-item")
  item << tag(:div, class: "dashboard-menu-divider")
  item << link_to(icon_tag("file-alt", label: "Docs"), "/dashboard/docs", class: "dashboard-menu-item")
  item << link_to(icon_tag("book", label: "Repositories"), "/dashboard/repositories", class: "dashboard-menu-item")
  item << link_to(icon_tag("users", label: "Groups"), "/dashboard/groups", class: "dashboard-menu-item")
  item << tag(:div, class: "dashboard-menu-divider")
  item << link_to(icon_tag("star", label: "Stars"), "/dashboard/stars", class: "dashboard-menu-item")
  item << link_to(icon_tag("eye", label: "Watches"), "/dashboard/watches", class: "dashboard-menu-item")
end %>
</nav>