<div class="aside-wrap">
  <details class="aside-content details-reset dashboard-menu menu js-menu">
    <summary><%= icon_tag("menu") %></summary>
    <nav>
      <%= render_list_items(type: :link, class: "menu-item", active_class: "selected", check_parameters: true) do |item|
        item << link_to(icon_tag("home", label: t(".Dashboard")), "/", class: "menu-item last")
        item << link_to(icon_tag("doc", label: t(".Doc")), "/dashboard/docs", class: "menu-item")
        item << link_to(icon_tag("repo", label: t(".Repository")), "/dashboard/repositories", class: "menu-item")
        item << link_to(icon_tag("group", label: t(".Group")), "/dashboard/groups", class: "menu-item last")
        item << content_tag(:span, icon_tag("star", label: t(".Star")), class: "menu-item")
        item << link_to(icon_tag("star-repo", label: t(".Repository")), "/dashboard/stars", class: "menu-item menu-sub-item depth-1")
        item << link_to(icon_tag("star-doc", label: t(".Doc")), "/dashboard/stars/docs", class: "menu-item menu-sub-item depth-1")
        item << link_to(icon_tag("watch", label: t(".Watch")), "/dashboard/watches", class: "menu-item")
      end %>
      <%= raw Setting.dashboard_sidebar_html %>
    </nav>
  </details>
</div>