<% title_tag "Groups", "Dashboard" %>

<div class="col-12 d-table">
  <%= render "menu" %>

  <div class="col-10 d-table-cell p-5">
    <div class="sub-title">All groups of me</div>
    <%= render partial: "groups", locals: { items: @groups } %>
    <%= paginate @groups %>
  </div>
</div>
