<% title_tag "Repositories", "Dashboard" %>

<div class="col-12 d-table">
  <%= render "menu" %>

  <div class="col-10 d-table-cell p-5">
    <div class="sub-title">All repositories of me</div>
    <%= render partial: "repositories", locals: { items: @repositories } %>
    <%= paginate @repositories %>
  </div>
</div>
