<% title_tag "Repositories", "Dashboard" %>

<%= render "menu" %>
<div class="main-wrap">
  <div class="main-content">
    <div class="dashboard-content clearfix">
      <div class="sub-title">All repositories of you</div>
      <%= render partial: "repositories", locals: { items: @repositories } %>
      <%= paginate @repositories %>
    </div>
  </div>
</div>
