<% title_tag t(".Dashboard Repositories") %>

<div class="flex-wrap">
<%= render "menu" %>
<div class="main-wrap">
  <div class="main-content">
    <div class="dashboard-content clearfix">
      <h2 class="sub-title"><%= t(".All repositories") %></h2>
      <%= render partial: "repositories", locals: { items: @repositories } %>
      <%= paginate @repositories %>
    </div>
  </div>
</div>
</div>