<% title_tag "Repositories", "Dashboard" %>

<div class="dashboard-main">
  <%= render "menu" %>

  <div class="dashboard-content clearfix">
    <div class="sub-title">All repositories of you</div>
    <%= render partial: "repositories", locals: { items: @repositories } %>
    <%= paginate @repositories %>
  </div>
</div>
