<% title_tag "Watches", "Dashboard" %>
<%= render "menu" %>
<div class="main-wrap">
  <div class="main-content">
    <div class="dashboard-content clearfix">
      <div class="subhead"><h2><%= t(".All Watches") %></h2></div>
      <%= render "action_repositories" %>
      <%= paginate @repositories %>
    </div>
  </div>
</div>
