<% title_tag t(".Watches"), t(".Dashboard") %>

<div class="flex-wrap">
<%= render "menu" %>
<div class="main-wrap">
  <div class="main-content">
    <div class="dashboard-content clearfix">
      <%= render "action_repositories" %>
      <%= paginate @repositories %>
    </div>
  </div>
</div>
</div>