<% title_tag "Watches", "Dashboard" %>

<div class="dashboard-main">
  <%= render "menu" %>

  <div class="dashboard-content clearfix">
    <div class="sub-title">All watches</div>
    <%= render "action_repositories" %>
    <%= paginate @repositories %>
  </div>
</div>
