<% title_tag t(".Watches"), t(".Dashboard") %>

<div class="flex-wrap">
  <%= render "menu" %>

  <div class="main-wrap">
    <div class="main-content">
      <div class="dashboard-content">
        <div class="dashboard-content clearfix">

        </div>
      </div>
    </div>
  </div>

  <div class="aside-wrap">
    <% @repositories.each do |repo| %>
      <%= repository_path_tag(repo) %>
    <% end %>
  </div>
</div>