@import "../colors.scss";

.control-label {
  color: #505050;
}

.form-control {
  background: #fff;
  border-color: $btn-border-color;
  box-shadow: inset 0 1px 1px rgba(27, 31, 35, 0.02);
}

.form-group {
  .form-control {
    width: 100%;
  }
}

.subnav-search-input {
  width: 100%;
}

@media (min-width: 768px) {
  .form-group {
    .form-control {
      width: 400px;
    }
  }

  .subnav-search-input {
    width: 320px;
  }
}

/* Disable readonly focus style */
.form-control[readonly] {
  background: #fafbfc !important;
  border-color: rgba(27, 31, 35, 0.12) !important;
  outline: none !important;
  box-shadow: inset 0 1px 1px rgba(27, 31, 35, 0.02) !important;
}

.form-group {
  .form-control {
    background: #fff;
  }
}