@font-face {font-family: "iconfont";
  src: url(~iconfont/iconfont.eot);
  src: url(~iconfont/iconfont.eot#iefix) format('embedded-opentype'),
       url(~iconfont/iconfont.woff) format('woff'),
       url(~iconfont/iconfont.ttf) format('truetype'),
       url(~iconfont/iconfont.svg#bluedoc) format('svg');
}

.fa-file:before {
  content: "\e646";
}

.fa-arrow:before {
  content: "\e647";
}

.fa-watches:before {
  content: "\e648";
}

.fa-export:before {
  content: "\e649";
}

.fa-dashboard:before {
  content: "\e64a";
}

.fa-bell:before {
  content: "\e64b";
}

.fa-doc-fill:before {
  content: "\e64c";
}

.fa-group:before {
  content: "\e64d";
}

.fa-doc:before {
  content: "\e64f";
}

.fa-list:before {
  content: "\e651";
}

.fa-card:before {
  content: "\e652";
}

.fa-google:before {
  content: "\e653";
}

.fa-dashboard-fill:before {
  content: "\e654";
}

.fa-search:before {
  content: "\e655";
}

.fa-down:before {
  content: "\e656";
}

.fa-edit:before {
  content: "\e657";
}

.fa-star:before {
  content: "\e658";
}

.fa-new:before {
  content: "\e659";
}

.fa-watch:before {
  content: "\e65a";
}

.fa-github:before {
  content: "\e65b";
}

.fa-star-fill:before {
  content: "\e65c";
}

.fa-watch-fill:before {
  content: "\e65d";
}

.fa-gitlab:before {
  content: "\e65e";
}

.fa-user-fill:before {
  content: "\e65f";
}

.fa-text-image:before {
  content: "\e660";
}

.fa-add:before {
  content: "\e661";
}

.fa-delete:before {
  content: "\e662";
}

.fa-change:before {
  content: "\e663";
}

.fa-group-fill:before {
  content: "\e664";
}

.fa-ellipsis:before {
  content: "\e666";
}

.fa-smile:before {
  content: "\e667";
}

.fa-like-fill:before {
  content: "\e668";
}

.fa-checkbox-fill:before {
  content: "\e669";
}

.fa-add-doc:before {
  content: "\e66a";
}

.fa-checkbox:before {
  content: "\e66b";
}

.fa-location:before {
  content: "\e66c";
}

.fa-time:before {
  content: "\e671";
}

.fa-unwatch:before {
  content: "\e672";
}

.fa-avatar-doc:before {
  content: "\e673";
}

.fa-avatar-repo:before {
  content: "\e674";
}

.fa-selected-fill:before {
  content: "\e675";
}

.fa-selected:before {
  content: "\e676";
}

.fa-bell-fill:before {
  content: "\e67a";
}

.fa-text-link:before {
  content: "\e678";
}

.fa-cancel:before {
  content: "\e67c";
}

.fa-star-repo-fill:before {
  content: "\e67e";
}

.fa-star-repo:before {
  content: "\e67f";
}

.fa-home-fill:before {
  content: "\e66d";
}

.fa-home:before {
  content: "\e66e";
}

.fa-menu:before {
  content: "\e66f";
}

.fa-left:before {
  content: "\e670";
}

.fa-right:before {
  content: "\e680";
}

.fa-pdf:before {
  content: "\e681";
}

.fa-warn:before {
  content: "\e682";
}

.fa-lock:before {
  content: "\e683";
}

.fa-select:before {
  content: "\e684";
}

.fa-text-attachment:before {
  content: "\e685";
}

.fa-like:before {
  content: "\e687";
}

.fa-minus:before {
  content: "\e688";
}

.fa-more:before {
  content: "\e689";
}

.fa-pdf-file:before {
  content: "\e68a";
}

.fa-share:before {
  content: "\e68b";
}

.fa-restore:before {
  content: "\e68c";
}

.fa-zip-file:before {
  content: "\e68d";
}

.fa-zip:before {
  content: "\e68e";
}

.fa-text-heading:before {
  content: "\e68f";
}

.fa-text-bold:before {
  content: "\e690";
}

.fa-text-italic:before {
  content: "\e691";
}

.fa-text-strikethrough:before {
  content: "\e692";
}

.fa-text-underline:before {
  content: "\e693";
}

.fa-text-code:before {
  content: "\e694";
}

.fa-text-bulleted-list:before {
  content: "\e695";
}

.fa-text-numbered-list:before {
  content: "\e696";
}

.fa-text-outdent:before {
  content: "\e697";
}

.fa-text-indent:before {
  content: "\e698";
}

.fa-text-align-left:before {
  content: "\e699";
}

.fa-text-align-center:before {
  content: "\e69a";
}

.fa-text-align-right:before {
  content: "\e69b";
}

.fa-text-align-justify:before {
  content: "\e69c";
}

.fa-text-quote:before {
  content: "\e69d";
}

.fa-text-codeblock:before {
  content: "\e69e";
}

.fa-text-uml:before {
  content: "\e69f";
}

.fa-text-tex:before {
  content: "\e6a0";
}

.fa-text-hr:before {
  content: "\e6a1";
}

.fa-text-video:before {
  content: "\e6a2";
}

.fa-caret:before {
  content: "\e6a3";
}

.fa-star-note:before {
  content: "\e6a5";
}

.fa-star-note-fill:before {
  content: "\e6a6";
}

.fa-circle:before {
  content: "\e6a7";
}

.fa-circle-fill:before {
  content: "\e6a8";
}

.fa-setting:before {
  content: "\e6a4";
}

.fa-keyboard:before {
  content: "\e6aa";
}

.fa-user:before {
  content: "\e6a9";
}

.fa-star-doc-fill:before {
  content: "\e6ad";
}

.fa-star-doc:before {
  content: "\e6ae";
}

.fa-repo-fill:before {
  content: "\e6ab";
}

.fa-repo:before {
  content: "\e6ac";
}

.fa-notice-fill:before {
  content: "\e6af";
}

.fa-notice:before {
  content: "\e6b0";
}

.fa-text-table:before {
  content: "\e636";
}

.fa-text-undo:before {
  content: "\e637";
}

.fa-text-redo:before {
  content: "\e638";
}

.fa-text-clear-style:before {
  content: "\e639";
}

.fa-add-row:before {
  content: "\e63d";
}

.fa-text-color:before {
  content: "\e63e";
}

.fa-server:before {
  content: "\e642";
}

.fa-error:before {
  content: "\e643";
}

.fa-note:before {
  content: "\e644";
}

.fa-issue:before {
  content: "\e645";
}


