@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1548245297222'); /* IE9 */
  src: url('iconfont.eot?t=1548245297222#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1548245297222') format('woff'),
  url('iconfont.ttf?t=1548245297222') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1548245297222#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-arrow:before {
  content: "\e647";
}

.fa-watches:before {
  content: "\e648";
}

.fa-export:before {
  content: "\e649";
}

.fa-dashboard:before {
  content: "\e64a";
}

.fa-bell:before {
  content: "\e64b";
}

.fa-docs_fill:before {
  content: "\e64c";
}

.fa-group:before {
  content: "\e64d";
}

.fa-rep:before {
  content: "\e64e";
}

.fa-docs:before {
  content: "\e64f";
}

.fa-rep_fill:before {
  content: "\e650";
}

.fa-list:before {
  content: "\e651";
}

.fa-card:before {
  content: "\e652";
}

.fa-google:before {
  content: "\e653";
}

.fa-dashboard_fill:before {
  content: "\e654";
}

.fa-search:before {
  content: "\e655";
}

.fa-down:before {
  content: "\e656";
}

.fa-edit:before {
  content: "\e657";
}

.fa-star:before {
  content: "\e658";
}

.fa-new:before {
  content: "\e659";
}

.fa-watch:before {
  content: "\e65a";
}

.fa-github:before {
  content: "\e65b";
}

.fa-star_fill:before {
  content: "\e65c";
}

.fa-watch_fill:before {
  content: "\e65d";
}

.fa-gitlab:before {
  content: "\e65e";
}

.fa-user_fill:before {
  content: "\e65f";
}

.fa-photo:before {
  content: "\e660";
}

.fa-add:before {
  content: "\e661";
}

.fa-delete:before {
  content: "\e662";
}

.fa-change:before {
  content: "\e663";
}

.fa-group_fill:before {
  content: "\e664";
}

.fa-ellipsis:before {
  content: "\e666";
}

.fa-smile:before {
  content: "\e667";
}

.fa-like:before {
  content: "\e668";
}

.fa-checkbox_fill:before {
  content: "\e669";
}

.fa-add_docs:before {
  content: "\e66a";
}

.fa-checkbox:before {
  content: "\e66b";
}

.fa-user:before {
  content: "\e665";
}

.fa-location:before {
  content: "\e66c";
}

.fa-star-docs_fill:before {
  content: "\e66d";
}

.fa-star-docs:before {
  content: "\e66e";
}

.fa-star-rep_fill:before {
  content: "\e66f";
}

.fa-star-rep:before {
  content: "\e670";
}

.fa-time:before {
  content: "\e671";
}

.fa-unwatch:before {
  content: "\e672";
}

