@import './booklab.scss';
@import './iconfont.scss';

.fas {
  font-family: 'iconfont', 'booklab';
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 1em;
}

// hack
.selected {
  .fa-dashboard {
    @extend .fa-dashboard_fill;
  }
  .fa-docs {
    @extend .fa-docs_fill;
  }
  .fa-rep {
    @extend .fa-rep_fill;
  }
  .fa-group {
    @extend .fa-group_fill;
  }
  .fa-star {
    @extend .fa-star_fill;
  }
  .fa-watch {
    @extend .fa-watch_fill;
  }
}
a[data-method=delete] {
  .fa-star {
    @extend .fa-star_fill;
  }
}
a[data-method=post] {
  .fa-watch {
    @extend .fa-watch_fill;
  }
}