@import './bluedoc.scss';
@import './iconfont.scss';

.fas {
  font-family: 'iconfont', 'bluedoc';
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

// hack
.selected {
  .fa-dashboard {
    @extend .fa-dashboard-fill;
  }
  .fa-doc {
    @extend .fa-doc-fill;
  }
  .fa-repo {
    @extend .fa-repo-fill;
  }
  .fa-group {
    @extend .fa-group-fill;
  }
  .fa-star {
    @extend .fa-star-fill;
  }
  .fa-watch {
    @extend .fa-watch-fill;
  }
  .fa-star-repo {
    @extend .fa-star-repo-fill;
  }
  .fa-star-doc {
    @extend .fa-star-doc-fill;
  }
  .fa-star-note {
    @extend .fa-star-note-fill;
  }
  .fa-bell {
    @extend .fa-bell-fill;
  }
  .fa-notice {
    @extend .fa-notice-fill;
  }
  .fa-home {
    @extend .fa-home-fill;
  }
}
a[data-method=delete] {
  .fa-star {
    @extend .fa-star-fill;
  }
}
a[data-method=delete] {
  .fa-watch {
    @extend .fa-unwatch;
  }
}

// admin page icon
.fa-pencil:before {
  @extend .fa-edit;
}

.fa-trash:before {
  @extend .fa-delete;
}

.fa-bell-slash:before {
  @extend .fa-bell-fill;
}

.fa-arrow {
  transition: all .2s ease;
  &.folder {
    transform: rotate(90deg);
  }
}