// text color
$text-main: #111;
$text-gray: #777;
$text-gray-light: #999;
$text-gray-dark: #111;

// border
$border-gray: #F2F2F2;

// theme color
$primary: #2F70FF;
$white: #FFF;
$black: #000;
$danger: #EE4343;
$text-red: #EE4343;
$border-color: #eee;
$input-border-color: #e0e0e0;

.text-gray {
  color: $text-gray;
}
.text-gray-light {
  color: $text-gray-light;
}
.text-main {
  color: $text-main;
}
.text-white {
  color: $white;
}
.text-primary {
  color: $primary;
}
.text-danger {
  color: $danger;
}

.hover-danger:hover {
  color: $danger!important;
}

.hover-primary:hover {
  color: $primary!important;
}