@import "./colors.scss";
@import "primer-support/index.scss";
@import "./normalize.scss";

// cover primer normalize.scss a tag color
a {
  color: inherit;
  display: inline-block;
  &:hover {
    color: $primary!important;
    text-decoration: none;
  }
}

textarea {
  display: block;
}

.card-box {
  border: 1px solid $border-gray;
  border-radius: 2px;
  &:hover {
    border-color: #EBEBEB;
    box-shadow: 0 4px 7px 0 rgba(190, 190, 190, .1);
  }
}

@import "./grid.scss";
@import "./utils.scss";