@import "primer-base/index.scss";
// cover primer normalize.scss a tag color
a {
  color: inherit;
  display: inline-block;
}

textarea {
  display: block;
}

@import "./theme.scss";
@import "./utils.scss";
@import "./colors.scss";
