@import "./colors.scss";
@import "primer-base/index.scss";
// cover primer normalize.scss a tag color
a {
  color: inherit;
  display: inline-block;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

textarea {
  display: block;
}
@import "mixins.scss";
@import "./grid.scss";
@import "./utils.scss";
