@import "../colors.scss";


.btn {
  @include btn-solid(#222, #FFF, #FFF);
  border-color: $btn-border-color;
  font-weight: normal;
  color: #4a4a4a;
  padding-left: 14px;
  padding-right: 14px;
  box-shadow: 0 1px 2px 0px rgba(100, 100, 100, 0.08);

  i.fas {
    opacity: 1;
    vertical-align: middle;
    font-size: 16px;
  }

  &:hover {
    border-color: $btn-border-color;
    color: #4a4a4a;
  }
}


.btn-link {
  .fas { vertical-align: middle; }
}
.btn-sm {
  padding: 4px 8px;
  font-size: 13px;
}
.social-count {
  border-color: $btn-border-color;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: 0 1px 2px 0px rgba(100, 100, 100, 0.08);
}

.btn-primary {
  @include btn-solid(#fff, $primary-bg, $primary-bg);
  font-weight: normal;
  box-shadow: 0 1px 2px 0px rgba(100, 100, 100, 0.32);

  &:hover {
    color: #fff;
    border-color: #395a9a;
  }
}

.btn-danger {
  color: #cb2431;
  background-color: #fafbfc;

  &:hover {
    color: #cb2431;
    border-color: #cb2431;
  }
}

.btn[disabled] {
  color: #999;
  border-color: #e0e0e0;
}

.btn-primary[disabled] {
  color: rgba(32, 50, 85, 0.32);
  background-color: rgba(80, 126, 215, 0.22);
  border-color: rgba(34, 53, 90, 0.09);
}