<p>Hello <%= @resource.name %>!</p>

<p><%= t(".Your account has been locked due to an excessive number of unsuccessful sign in attempts") %></p>

<p><%= t(".Click the link below to unlock your account") %></p>

<p><%= link_to t(".Unlock my account"), user_unlock_url(unlock_token: @token) %></p>
