<p>Welcome to Admin Dashboard.</p>


<div class="Box box-shadow">
  <div class="Box-row">
    <h3>Tools</h3>
  </div>
  <div class="Box-row">
    <a href="/admin/exception-track" target="_blank" class="btn">Exception Tracks</a>
    <a href="/admin/sidekiq" target="_blank" class="btn">Background Jobs</a>
  </div>
</div>
