@import "~booklab/mixin";

.reader-body {
  .main-container {
    padding: 0 !important;
  }

  .flash-full {
    .container {
      margin-left: 0;
      margin-right: 0;
      width: auto;
    }
  }

  .doc-page {
    position: relative;

    .doc-sidebar {
      display: none;
      padding: 24px;

      ul {
        font-size: 13px;
        line-height: 100%;
        @extend .pt-2;
        @extend .list-style-none;
        overflow: hidden;

        .item-title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        li { padding: 6px 0;}
        a {
          color: #555;
          &.active {
            color: $primary;
          }
        }

        .item-slug { display: none; }
      }
    }

    @media (min-width: 1100px) {
      .doc-sidebar {
        display: block;
        width: 24%;
        padding-top: 0;
        min-height: 100vh;
        min-width: 200px;
        max-width: 250px;
      }
    }

    .doc-main {
      order:1;
      width: 100%;
      padding: 32px 64px;
    }

    @media (min-width: 1012px) {
      .doc-main {
        max-width: 850px;
        top: 88px;
        left: 30%;
      }
    }

    .doc-title {
      text-align: left;
      line-height: 54px;
      margin-bottom: 40px;
      word-break: break-word;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    .version-sidebar {
      .pagination {
        .page-number { display: none; }
      }
    }

    .version-item {
      display: block;
      text-decoration: none;
      color: #505050;
      border-bottom: 1px solid #e0e0e0;
      padding: 10px;
      border-left: 3px solid transparent;

      .Label { background: #fff;}

      &:last-child {
        border-bottom: 0px;
      }

      .title { font-size: 15px; margin-bottom: 5px; }
      .info { font-size: 13px; }
      .user-name { color: #333; font-weight: bold; }

      &:hover {
        background: #fff;
      }

      &.selected {
        border-left-color: $primary;
        background: #fff;
      }
    }
  }
}

.doc-body-toc {
  order: 2;
  display: none;
  width: 24%;

  @media (min-width: 1330px) {
    display: block;
    padding-top: 50px;
  }

  .markdown-body-toc {
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    border: 1px solid #e8ebef;
    border-radius: 3px;
    background: #fdfeff;
    font-size: 13px;
    margin-right: 15px;
    display: block;
    padding-top: 0;
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    li {
      color: #aaa;
      list-style-type: square;
      list-style-position: inside;
      word-break: break-word;
      word-wrap: break-word;
      overflow-wrap: break-word;
      margin-bottom: 5px;

      a {
        color: #707070;
      }

      @for $i from 3 through 5 {
        &.body-toc-item-#{$i} {
          padding-left: (($i - 2) * 11px) !important;
        }
      }
    }
  }
}



.markdown-body {
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;

    a.heading-anchor {
      display: none;
      position: absolute;
      left: -35px;
      top: 1px;
      padding-right: 0;
      text-decoration: none;
      color: #999;
      line-height: inherit;
      font-weight: 400;
      width: 35px;
      text-align: center;
      border-bottom: 0;
      font-family: serif;
    }

    &:hover {
      a.heading-anchor {
        display: inline-block;
      }
    }
  }
}
