<div class="info">
  <%= user_name_tag(activity.actor) %>
  <%= t("activities.created") %>
  <%= repository_path_tag(activity.target) %>
</div>
<span class="time"><%= timeago activity.created_at %></span>
