<div class="info">
  <%= user_name_tag(activity.actor) %> <span class="text-gray">has followed</span> <%= user_name_tag(activity.target) %>
</div>
<span class="time"><%= timeago activity.created_at %></span>
<div class="detail">
  <%= render "/users/card", user: activity.target %>
</div>
