<% if activity.target && activity.target.is_a?(Doc) %>
<div class="info">
  <%= user_name_tag(activity.actor) %> <span class="text-gray"><%= t("activities.starred Doc") %></span>
</div>
<span class="time"><%= timeago activity.created_at %></span>
<div class="detail">
  <%= render "/docs/card", doc: activity.target %>
</div>
<% else %>
<div class="info">-</div>
<% end %>
