.table {
  width: 100%;
  tr {
    &:hover {
      td {
        background: #fafbfc;
      }
    }

    &:first-child {
      border-top: 1px solid #e1e4e8;
      td {
        background: #fafbfc;
      }
    }
    td {
      &:first-child {
        border-left: 1px solid #e1e4e8;
      }
      &:last-child {
        border-right: 1px solid #e1e4e8;
      }
      background: #fff; padding: 8px;
      border-bottom: 1px solid #e1e4e8;
    }
  }
}