<div class="nav-header">
  <div class="header-content container">
    <a href="/" class="navbar-brand"><span class="blue">Blue</span>Doc</a>
    <div class="flex-auto">
      <%= yield(:nav_path) %>
    </div>
    <div class="mr-4 search">
      <%= content_for?(:nav_search) ? yield(:nav_search) : render(partial: "/layouts/search_nav", locals: { props: { action: @nav_search_path, scope: @nav_search_scope, value: params[:q] } }) %>
    </div>
    <%= render "/layouts/user_menu" %>
  </div>
</div>
<% if Setting.broadcast_message_html.present? %>
<div class="broadcast-message"><div class="container"><%= raw Setting.broadcast_message_html %></div></div>
<% end %>