 <%= react_component("navbar/Search", props) do %>
   <form class="subnav-search-context">
     <div class="subnav-search">
       <input name="q" type="text" placeholder="Search" autocomplete="off" class="form-control form-search-control subnav-search-input" value="">
     </div>
   </form>
<% end %>