<form action="<%= @nav_search_path || "/search/docs" %>" class="subnav-search-context" method="GET">
  <div class="subnav-search">
    <input name="q" type="text" placeholder="<%= @nav_search_scope ? "Search in #{@nav_search_scope}" : "Search BookLab" %>" autocomplete="off" class="form-control form-search-control subnav-search-input" value="<%= params[:q] %>" />
    <%= octicon "search", :class => "subnav-search-icon" %>
  </div>
</form>